
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Contact-owner</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
        <style>
            body {
              background-image: url("images/bg7.gif");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
    </head>
    <body>
      <div class="back">
        <a href="./index.html" class="hero-bin">Go Back</a>
      </div>
      <section class="text-box">
        <a href="https://www.sisd.net/cms/lib/TX01001452/Centricity/Domain/834/Astronomy%20Textbook%20Part%201.pdf" class="hero-bun">Book</a>
        <a href="https://en.wikipedia.org/wiki/Astronomy" class="hero-bun">Book</a>
        <a href="https://www.nasa.gov/pdf/58277main_Space.Based.Astronomy.pdf" class="hero-bun">Book</a>
        <a href="https://arxiv.org/pdf/1311.0508" class="hero-bun">Book</a>
        <a href="https://d3bxy9euw4e147.cloudfront.net/oscms-prodcms/media/documents/Astronomy-LR.pdf" class="hero-bun">Book</a>
        <a href="https://www.iau.org/static/archives/announcements/pdf/ann19029a.pdf" class="hero-bun">Book</a>
        <a href="https://www.tifr.res.in/~archaeo/FOP/FOP%20pdf%20of%20ppt/Vahia%20Origin%20of%20Astronomy.pdf" class="hero-bun">Book</a>
        <a href="https://www.sciencedirect.com/science/article/pii/0083665695000874/pdf?md5=0706c3332e9058bd3f8ed0faa3c9cb3e&pid=1-s2.0-0083665695000874-main.pdf&_valck=1" class="hero-bun">Book</a>
        <a href="https://www.nap.edu/resource/12951/bpa_064932.pdf" class="hero-bun">Book</a>
        <a href="https://www.nap.edu/resource/aanm/aanmov.pdf" class="hero-bun">Book</a>
        <a href="https://www.capjournal.org/issues/14/14_30.pdf" class="hero-bun">Book</a>
        <a href="https://www.ncnr.nist.gov/staff/hammouda/special_topics_in_science/Topic_A_presentation.pdf" class="hero-bun">Book</a>
        <a href="http://bhs.brookline.k12.ma.us/uploads/8/0/1/5/801512/astronomy.pdf" class="hero-bun">Book</a>
        <a href="https://www.jstor.org/stable/40257695" class="hero-bun">Book</a>
        <a href="http://sac.csic.es/astrosecundaria/en/cursos/formato/materiales/conferencias/C3_en.pdf" class="hero-bun">Book</a>
        <a href="https://www.plcschools.org/cms/lib/NE01912173/Centricity/domain/738/secondary%20curriculum%20objectives/Astronomy.pdf" class="hero-bun">Book</a>
        <a href="https://www.eso.org/public/archives/announcements/pdf/ann13089_zumel.pdf" class="hero-bun">Book</a>
        <a href="http://www.physics.usyd.edu.au/~helenj/IAST/IA1-intro.pdf" class="hero-bun">Book</a>
        <a href="https://www.cosmos.esa.int/documents/401090/1742815/Colours+of+Astronomy+Student+Guide/88d211ef-81a7-a0ea-f33e-fabd53d806cc" class="hero-bun">Book</a>
        <a href="https://resources.finalsite.net/images/v1529445656/eanesisdnet/qtkftjrebk6eb8uygzvv/Astronomy_Scope_and_Sequence.pdf" class="hero-bun">Book</a>
        <a href="https://vigyanprasar.gov.in/wp-content/uploads/vp-Astrology-Astronomy.pdf" class="hero-bun">Book</a>
        <a href="https://www.nmc.edu/programs/k12-programs/astronomy-puzzle.pdf" class="hero-bun">Book</a>
        <a href="https://astrosociety.org/file_download/inline/621a63fc-04d5-4794-8d2b-38e7195056e9" class="hero-bun">Book</a>
        <a href="https://astrosociety.org/file_download/inline/eb3601be-8e70-4f11-8e12-3c8c5b52e66a" class="hero-bun">Book</a>
        <a href="https://www.arvindguptatoys.com/arvindgupta/astonomy-beginners.pdf" class="hero-bun">Book</a>
        <a href="http://www.newlifeacademyga.com/common/pages/UserFile.aspx?fileId=10967460" class="hero-bun">Book</a>
        <a href="https://www.ece.lsu.edu/kak/ast.pdf" class="hero-bun">Book</a>
        <a href="https://www.slac.stanford.edu/econf/C0307073/papers/AI.pdf" class="hero-bun">Book</a>
        <a href="http://cbseacademic.nic.in/web_material/Circulars/2012/68_KTPI/Module_1.pdf" class="hero-bun">Book</a>
        <a href="http://link.springer.com/content/pdf/10.1007%2F978-94-010-3320-6_14.pdf" class="hero-bun">Book</a>
        <a href="https://aas.org/files/resources/Careers-in-Astronomy.pdf" class="hero-bun">Book</a>
        <a href="http://www.astro.wisc.edu/~sstanimi/113/astronomy_113.pdf" class="hero-bun">Book</a>
        <a href="http://www.gov.pe.ca/photos/original/4h_astronomyRG.pdf" class="hero-bun">Book</a>
        <a href="http://www.aapt.org/Publications/upload/pacs--revised.pdf" class="hero-bun">Book</a>
        <a href="https://www.aanda.org/doc_journal/instructions/aadoc.pdf" class="hero-bun">Book</a>
        <a href="https://www.eolss.net/sample-chapters/c01/E6-119-28.pdf" class="hero-bun">Book</a>
        <a href="https://ned.ipac.caltech.edu/level5/Sept19/Feigelson/paper.pdf" class="hero-bun">Book</a>
        <a href="http://www.utdallas.edu/~xinchou/astto-ana.pdf" class="hero-bun">Book</a>
        <a href="http://www.bruzual.org/~gbruzual/direccion/libro.pdf" class="hero-bun">Book</a>
        <a href="http://aprsa.villanova.edu/files/Smart-SphericalAstronomy.pdf" class="hero-bun">Book</a>
        <a href="https://mo-www.cfa.harvard.edu/OWN/pdf/mit/HandsOnActivities.pdf" class="hero-bun">Book</a>
        <a href="https://astrophysics.physics.fsu.edu/documents/currie_grad_school_advice.pdf" class="hero-bun">Book</a>
        <a href="https://www.jhuapl.edu/Content/techdigest/pdf/V03-N01/03-01-Newton.pdf" class="hero-bun">Book</a>
        <a href="https://udrc.lkouniv.ac.in/Content/DepartmentContent/SY_14c168b2-5256-4f2c-a54e-826fcdca9b8a_36.pdf" class="hero-bun">Book</a>
        <a href="http://www.csun.edu/science/ref/games/questions/97_astr.pdf" class="hero-bun">Book</a>
        <a href="https://onlinelibrary.wiley.com/doi/pdf/10.1111/j.1949-8594.1935.tb12789.x" class="hero-bun">Book</a>
        <a href="https://www.asundergrad.pitt.edu/sites/default/files/ASTRON.pdf" class="hero-bun">Book</a>
        <a href="https://www.whitman.edu/documents/Offices/Registrar/Catalog/Astronomy.pdf" class="hero-bun">Book</a>
        <a href="https://solano.edu/degrees/1920/astro.pdf" class="hero-bun">Book</a>
        <a href="https://filestore.scouting.org/filestore/merit_badge_reqandres/astronomy.pdf" class="hero-bun">Book</a>
        <a href="https://physicstoday.scitation.org/doi/pdf/10.1063/1.2814918" class="hero-bun">Book</a>
        <a href="http://egyankosh.ac.in/bitstream/123456789/19452/1/Unit-2.pdf" class="hero-bun">Book</a>
        <a href="https://www.astro.columbia.edu/grad/Astrobrochure.pdf" class="hero-bun">Book</a>
        <a href="https://www.iiap.res.in/people/personnel/ereddy/astronomy_course08.pdf" class="hero-bun">Book</a>
        <a href="https://ro.uow.edu.au/cgi/viewcontent.cgi?referer=&httpsredir=1&article=1333&context=theses" class="hero-bun">Book</a>
        <a href="https://www.elsevier.com/journals/astronomy-and-computing/2213-1337?generatepdf=true" class="hero-bun">Book</a>
        <a href="https://www.mpg.de/15354115/detre_uranianmoons_aa-2020-641-a76.pdf" class="hero-bun">Book</a>
        <a href="http://dust.ess.uci.edu/ppr/ppr_Sch93.pdf" class="hero-bun">Book</a>
        <a href="https://www.nsf.gov/bfa/dias/policy/dmpdocs/ast.pdf" class="hero-bun">Book</a>
        <a href="https://brics2021.gov.in/brics/public/uploads/presspdf/press-43.pdf" class="hero-bun">Book</a>
        <a href="https://www.conicyt.cl/astronomia/files/2013/11/Roadmap_Astronomia_v3.pdf" class="hero-bun">Book</a>
        <a href="https://files.eric.ed.gov/fulltext/EJ1113875.pdf" class="hero-bun">Book</a>
        <a href="https://www.cambridge.org/core/services/aop-cambridge-core/content/view/S1743921311002602" class="hero-bun">Book</a>
        <a href="https://www.aut.ac.nz/__data/assets/pdf_file/0018/136413/Astronomy-Careers.pdf" class="hero-bun">Book</a>
        <a href="https://lsa.umich.edu/content/dam/lsa-site-assets/documents/supportlsa-docs/unit-priorities/astronomy.pdf" class="hero-bun">Book</a>
        <a href="https://www.monash.edu/__data/assets/pdf_file/0003/1837533/19P-0279-SCI-Physics-and-Astronomy-Web.pdf" class="hero-bun">Book</a>
        <a href="https://iopscience.iop.org/article/10.1086/342606/pdf" class="hero-bun">Book</a>
        <a href="https://irlab.astro.ucla.edu/images/files/front-matter.pdf" class="hero-bun">Book</a>
        <a href="https://www.stsci.edu/stsci/meetings/lisa3/reprints/cumminsm2.pdf" class="hero-bun">Book</a>
        <a href="http://www.physics.udel.edu/~jlp/classweb2/directory/powerpoint/ccd.pdf" class="hero-bun">Book</a>
        <a href="https://www.sonoma.edu/sites/www/files/13-14-11astr.pdf" class="hero-bun">Book</a>
        <a href="https://www.homesciencetools.com/content/reference/astronomy_mod.pdf" class="hero-bun">Book</a>
        <a href="https://www.coreknowledge.org/wp-content/uploads/2019/09/CKSci_G5Astronomy_SR.pdf" class="hero-bun">Book</a>
        <a href="https://www.avc.edu/sites/default/files/catalog/astronomy.pdf" class="hero-bun">Book</a>
        <a href="https://www.worldscientific.com/doi/pdf/10.1142/S2661339519500045" class="hero-bun">Book</a>
        <a href="https://physics.dartmouth.edu/sites/department_physics_astronomy/files/astronomy_insert.pdf" class="hero-bun">Book</a>
        <a href="http://usscouts.org/mb/worksheets/astronomy.pdf" class="hero-bun">Book</a>
        <a href="https://smv.org/documents/198/Big_Astronomy-Educator_Guide.pdf" class="hero-bun">Book</a>
        <a href="https://www.scientificamerican.com/index.cfm/_api/render/file/?method=inline&fileID=84F6F339-6F4C-4A03-A8F86DEDDAAEE722" class="hero-bun">Book</a>
        <a href="https://www.mos.org/sites/dev-elvis.mos.org/files/docs/offerings/mos_educator-guide_nasa_infrared-astronomy.pdf" class="hero-bun">Book</a>
        <a href="http://www.nitjsr.ac.in/course_assignment/CE04CE1402Field%20Astronomy-I.pdf" class="hero-bun">Book</a>
        <a href="http://relativity.liu.edu/steve/teaching/fall08/ch1.pdf" class="hero-bun">Book</a>
        <a href="https://www.molex.com/mx_upload/superfamily/polymicro/pdfs/FBP_Broad_Spectrum_Optical_Fiber_for_Astronomy_and_Spectroscopy_Jun_2008.pdf" class="hero-bun">Book</a>
        <a href="http://wwwf.imperial.ac.uk/~nsjones/TalkSlides/VaughnSlides.pdf" class="hero-bun">Book</a>
        <a href="http://catalog.uis.edu/undergraduate-students/clas/astronomy/astronomy.pdf" class="hero-bun">Book</a>
        <a href="http://www.evc.edu/academicaffairs/documents/aa-general-studies-with-emphasis-in-astronomy.pdf" class="hero-bun">Book</a>
        <a href="https://www.ucl.ac.uk/astrophysics/sites/astrophysics/files/lahav_ml_cdt_27march2020.pdf" class="hero-bun">Book</a>
        <a href="http://burro.case.edu/Academics/Astr201/Chap04b.pdf" class="hero-bun">Book</a>
        <a href="https://ujjvalsolanki.files.wordpress.com/2014/04/field-astronomy.pdf" class="hero-bun">Book</a>
        <a href="https://web.williams.edu/Astronomy/Course-Pages/330/images/distances.pdf" class="hero-bun">Book</a>
        <a href="https://science.nrao.edu/newscience/7-Mon/2-Hillenbrand/nwnh_dissemination_santafemtg.pdf" class="hero-bun">Book</a>
        <a href="https://www.iiti.ac.in/people/~bvaidya/LectureBreakUp_AA201.pdf" class="hero-bun">Book</a>
        <a href="https://ia801302.us.archive.org/20/items/PhysicsFromStargazersToStarships/Physics-From-Stargazers-to-Starships.pdf" class="hero-bun">Book</a>
        <a href="http://www.f.waseda.jp/sidoli/HMPS_09_19thC_Astronomy.pdf" class="hero-bun">Book</a>
        <a href="http://www.khu.ac.kr/eng/download/Schools%20&%20Colleges/College%20of%20Applied%20Sciences/Astronomy%20&%20Space%20Science.pdf" class="hero-bun">Book</a>
        <a href="http://www.surendranathcollege.org/new/upload/SOURAV_MITRAModule%2012020-09-23Astro-lectures-Module1.pdf" class="hero-bun">Book</a>
        <a href="https://www.gla.ac.uk/media/Media_571065_smxx.pdf" class="hero-bun">Book</a>
        <a href="https://astronomy.swin.edu.au/~dforbes/mercury.pdf" class="hero-bun">Book</a>
        <a href="https://www.senate.illinois.edu/20210426senate/EP21113_FINAL_20210426.pdf" class="hero-bun">Book</a>
        <a href="https://www.astro.umd.edu/~miller/teaching/astr601/lecture18.pdf" class="hero-bun">Book</a>
      </section>
      </body>
</html>
