
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Contact-owner</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
        <style>
            body {
              background-image: url("images/bg7.gif");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
    </head>
    <body>
      <div class="back">
        <a href="./index.html" class="hero-bin">Go Back</a>
      </div>
      <section class="text-box">
        <a href="https://en.wikipedia.org/wiki/C_(programming_language)" class="hero-bun">Book</a>
        <a href="https://www.unf.edu/~wkloster/2220/ppts/cprogramming_tutorial.pdf" class="hero-bun">Book</a>
        <a href="http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1256.pdf" class="hero-bun">Book</a>
        <a href="http://www.open-std.org/jtc1/sc22/wg14/www/C99RationaleV5.10.pdf" class="hero-bun">Book</a>
        <a href="https://www.vssut.ac.in/lecture_notes/lecture1424354156.pdf" class="hero-bun">Book</a>
        <a href="http://cslibrary.stanford.edu/101/EssentialC.pdf" class="hero-bun">Book</a>
        <a href="https://www.bell-labs.com/usr/dmr/www/cman.pdf" class="hero-bun">Book</a>
        <a href="https://www.caluniv.ac.in/academic/LibSc/Study/C-Lang.pdf" class="hero-bun">Book</a>
        <a href="https://www.irs.gov/pub/irs-pdf/f1040sc.pdf" class="hero-bun">Book</a>
        <a href="https://users.ece.utexas.edu/~adnan/c-refcard.pdf" class="hero-bun">Book</a>
        <a href="https://docs.nvidia.com/cuda/pdf/CUDA_C_Programming_Guide.pdf" class="hero-bun">Book</a>
        <a href="http://cslabcms.nju.edu.cn/problem_solving/images/c/cc/The_C_Programming_Language_%282nd_Edition_Ritchie_Kernighan%29.pdf" class="hero-bun">Book</a>
        <a href="https://www.passportindia.gov.in/AppOnlineProject/pdf/AnnexureC.pdf" class="hero-bun">Book</a>
        <a href="https://www.gnu.org/s/gnu-c-manual/gnu-c-manual.pdf" class="hero-bun">Book</a>
        <a href="https://www.autosar.org/fileadmin/user_upload/standards/adaptive/17-03/AUTOSAR_RS_CPP14Guidelines.pdf" class="hero-bun">Book</a>
        <a href="https://www.nvidia.com/docs/IO/116711/sc11-cuda-c-basics.pdf" class="hero-bun">Book</a>
        <a href="https://www.cms.gov/Outreach-and-Education/Medicare-Learning-Network-MLN/MLNProducts/Downloads/MedCandDGenCompdownload.pdf" class="hero-bun">Book</a>
        <a href="https://www.cms.gov/Medicare/Appeals-and-Grievances/MMCAG/Downloads/Parts-C-and-D-Enrollee-Grievances-Organization-Coverage-Determinations-and-Appeals-Guidance.pdf" class="hero-bun">Book</a>
        <a href="https://www.state-machine.com/doc/AN_OOP_in_C.pdf" class="hero-bun">Book</a>
        <a href="https://documents.doptcirculars.nic.in/D2/D02eod/PDF/31.01.1986-28016-5-85%20dtd.pdf" class="hero-bun">Book</a>
        <a href="https://www.apa.org/ed/accreditation/section-c-soa.pdf" class="hero-bun">Book</a>
        <a href="https://retail.onlinesbi.com/sbi/downloads/PPF/FORM-C_(PPF%20WITHDRAWAL).pdf" class="hero-bun">Book</a>
        <a href="https://www.loc.gov/aba/cataloging/classification/lcco/lcco_c.pdf" class="hero-bun">Book</a>
        <a href="https://www.ti.com/lit/ds/symlink/lm35.pdf" class="hero-bun">Book</a>
        <a href="https://www.cdc.gov/nhsn/pdfs/pscmanual/12pscmdro_cdadcurrent.pdf" class="hero-bun">Book</a>
        <a href="https://www.ipcc.ch/site/assets/uploads/sites/2/2019/05/SR15_Chapter2_Low_Res.pdf" class="hero-bun">Book</a>
        <a href="https://docs.wto.org/dol2fe/Pages/SS/directdoc.aspx?filename=q:/IP/C/W669R1.pdf&Open=True" class="hero-bun">Book</a>
        <a href="https://www.jstor.org/stable/1969840" class="hero-bun">Book</a>
        <a href="https://www.anits.edu.in/online_tutorials/Programming-with-C-and-Lab.pdf" class="hero-bun">Book</a>
        <a href="https://dopt.gov.in/sites/default/files/SCHEDULE-3.pdf" class="hero-bun">Book</a>
        <a href="https://employment.tripura.gov.in/sites/default/files/upload-file/Answer%20Key%20for%20Gr-C%28Paper-II%29%20Written%20Examination.pdf" class="hero-bun">Book</a>
        <a href="https://www.sec.gov/files/formc.pdf" class="hero-bun">Book</a>
        <a href="https://www.nielit.gov.in/sites/default/files/Patna/Form_C.pdf" class="hero-bun">Book</a>
        <a href="https://ec.europa.eu/research/participants/data/ref/h2020/other/wp/2018-2020/annexes/h2020-wp1820-annex-c-elig_en.pdf" class="hero-bun">Book</a>
        <a href="https://www.cdc.gov/hepatitis/hcv/pdfs/hepcgettingtested.pdf" class="hero-bun">Book</a>
        <a href="https://www.immunize.org/catg.d/p4075.pdf" class="hero-bun">Book</a>
        <a href="http://skiesanduniverses.org/resources/The_C_Programming_Language.pdf" class="hero-bun">Book</a>
        <a href="https://www.cbic.gov.in/resources//htdocs-cbec/Recruitment%20of%20Group%20'C'%20Marine%20Wing,%20Mangalore.pdf" class="hero-bun">Book</a>
        <a href="https://csrc.nist.gov/CSRC/media/Publications/fips/140/2/final/documents/fips1402annexc.pdf" class="hero-bun">Book</a>
        <a href="https://www.aicpa.org/research/standards/auditattest/downloadabledocuments/au-c-00315.pdf" class="hero-bun">Book</a>
        <a href="https://www.pyromation.com/Downloads/Data/emfj_c.pdf" class="hero-bun">Book</a>
        <a href="https://ibbi.gov.in/uploads/downloads/Form_C_LP.pdf" class="hero-bun">Book</a>
        <a href="https://allduniv.ac.in/upload/file_collection/Group%20C_Final_Non%20teaching.pdf" class="hero-bun">Book</a>
        <a href="https://www.juniper.net/assets/mx/es/local/pdf/datasheets/1000580-en.pdf" class="hero-bun">Book</a>
        <a href="https://h20195.www2.hp.com/v2/getpdf.aspx/4AA7-5464ENW.pdf" class="hero-bun">Book</a>
        <a href="https://ssc.nic.in/SSCFileServer/PortalManagement/UploadedFiles/Write_up_tentative_Answer_Key_Steno_2020_25112021.pdf" class="hero-bun">Book</a>
        <a href="https://www.mirecc.va.gov/docs/visn6/3_ptsd_checklist_and_scoring.pdf" class="hero-bun">Book</a>
        <a href="http://cpcsea.nic.in/WriteReadData/userfiles/file/Form%20C%20Revised.pdf" class="hero-bun">Book</a>
        <a href="http://cbseacademic.nic.in/web_material/SQP/ClassX_2021_22/MathsStandard-PQ.pdf" class="hero-bun">Book</a>
        <a href="https://www.mpcb.gov.in/sites/default/files/solid-waste/Municipal_Council_ClassC03032020.pdf" class="hero-bun">Book</a>
        <a href="https://www.arista.com/assets/data/pdf/Datasheets/Arista-C-230-Datasheet.pdf" class="hero-bun">Book</a>
        <a href="https://www.rheumatology.org/Portals/0/Files/ACR-COVID-19-Clinical-Guidance-Summary-MIS-C-Hyperinflammation.pdf" class="hero-bun">Book</a>
        <a href="https://www.meity.gov.in/writereaddata/files/FORM_GFR-12C_StateGovernment.pdf" class="hero-bun">Book</a>
        <a href="http://www.lmpt.univ-tours.fr/~volkov/C++.pdf" class="hero-bun">Book</a>
        <a href="https://www.tutorialspoint.com/cprogramming/cprogramming_tutorial.pdf" class="hero-bun">Book</a>
        <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1024894/COVID-19-self-test-throat-and-nose-instructions.pdf" class="hero-bun">Book</a>
        <a href="https://www.pan.utiitsl.com/PAN/downloadFile?FileName=NAnnexure-C.pdf" class="hero-bun">Book</a>
        <a href="https://www.wipo.int/pct/guide/en/gdvol1/annexes/annexc/ax_c_ib.pdf" class="hero-bun">Book</a>
        <a href="https://rbidocs.rbi.org.in/rdocs/content/pdfs/22RNT04042016_AN3.pdf" class="hero-bun">Book</a>
        <a href="https://www.state.nj.us/treasury/taxation/pdf/other_forms/misc/c9600.pdf" class="hero-bun">Book</a>
        <a href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/physics-c-tables-and-equations-list.pdf" class="hero-bun">Book</a>
        <a href="https://portal.mcgm.gov.in/irj/go/km/docs/documents/MCGM%20Department%20List/Assistant%20Engineer%20(Building%20and%20Factory)%20(Designated%20Officer)/Docs/%E0%A4%B8%E0%A5%80-1%20%E0%A4%AA%E0%A5%8D%E0%A4%B0%E0%A4%B5%E0%A4%B0%E0%A5%8D%E0%A4%97%E0%A4%BE%E0%A4%A4%E0%A5%80%E0%A4%B2%20%E0%A4%A7%E0%A5%8B%E0%A4%95%E0%A4%BE%E0%A4%A6%E0%A4%BE%E0%A4%AF%E0%A4%95%20%E0%A4%B5%20%E0%A4%AE%E0%A5%8B%E0%A4%A1%E0%A4%95%E0%A4%B3%E0%A5%80%E0%A4%B8%20%E0%A4%86%E0%A4%B2%E0%A5%87%E0%A4%B2%E0%A5%8D%E2%80%8D%E0%A4%AF%E0%A4%BE%20%E0%A4%87%E0%A4%AE%E0%A4%BE%E0%A4%B0%E0%A4%A4%E0%A5%80%E0%A4%82%E0%A4%9A%E0%A5%80%20%E0%A4%AF%E0%A4%BE%E0%A4%A6%E0%A5%80%202021-22.pdf" class="hero-bun">Book</a>
        <a href="https://www.cbd.int/doc/c/abb5/591f/2e46096d3f0330b08ce87a45/wg2020-03-03-en.pdf" class="hero-bun">Book</a>
        <a href="https://www.tn.gov/content/dam/tn/workforce/documents/Forms/c42.pdf" class="hero-bun">Book</a>
        <a href="https://www.sbtet.telangana.gov.in/downloads/Circular/Revised%20supplementary%20examination%20pattern%20C-18%20scheme%20and%20C09,%20C14,%20C16C16S%20rationalized%20to%20C-18%20scheme.pdf" class="hero-bun">Book</a>
        <a href="https://vaga.study/pdf/nc/jema/ncjemaoa01.pdf" class="hero-bun">Book</a>
        <a href="http://markburgess.org/CTutorial/C-Tut-4.02.pdf" class="hero-bun">Book</a>
        <a href="https://www.icc-cpi.int/resource-library/documents/rs-eng.pdf" class="hero-bun">Book</a>
        <a href="https://www.medicare.gov/Pubs/pdf/11219-Understanding-Medicare-Part-C-D.pdf" class="hero-bun">Book</a>
        <a href="https://suicidepreventionlifeline.org/wp-content/uploads/2016/09/Suicide-Risk-Assessment-C-SSRS-Lifeline-Version-2014.pdf" class="hero-bun">Book</a>
        <a href="https://dir.nv.gov/uploadedFiles/dirnvgov/content/WCS/c-1.pdf" class="hero-bun">Book</a>
        <a href="https://www.tin-nsdl.com/downloads/pan/Annexure%20C_03022014.pdf" class="hero-bun">Book</a>
        <a href="https://www.incometaxindia.gov.in/Forms/Wealth-Tax%20Rules,%201957/103120000000008038.pdf" class="hero-bun">Book</a>
        <a href="https://cssrs.columbia.edu/wp-content/uploads/C-SSRS_Pediatric-SLC_11.14.16.pdf" class="hero-bun">Book</a>
        <a href="https://www.epfindia.gov.in/site_docs/PDFs/Downloads_PDFs/Form10C.pdf" class="hero-bun">Book</a>
        <a href="https://energy.gov/sites/prod/files/2017/10/f39/FL1710_WIP_CPACEv2.PDF" class="hero-bun">Book</a>
        <a href="https://www.sars.gov.za/wp-content/uploads/Ops/Forms/FORM-C-Request-for-Tax-Deduction-Directive-Retirement-Annuity-Funds-External-Form.pdf" class="hero-bun">Book</a>
        <a href="https://www.publichealthontario.ca/-/media/documents/lab/phl-hepatitis-pcr.pdf?la=en" class="hero-bun">Book</a>
        <a href="https://www.uni-stuttgart.de/en/study/application/document/howto_campus_basisaccount_verwendung_en.pdf" class="hero-bun">Book</a>
        <a href="https://www.ned.org/docs/Philippe-C-Schmitter-and-Terry-Lynn-Karl-What-Democracy-is-and-Is-Not.pdf" class="hero-bun">Book</a>
        <a href="https://unfccc.int/files/meetings/paris_nov_2015/application/pdf/paris_agreement_english_.pdf" class="hero-bun">Book</a>
        <a href="https://www.usb.org/sites/default/files/USB%20Type-C%20Spec%20R2.0%20-%20August%202019.pdf" class="hero-bun">Book</a>
        <a href="https://www.cl.cam.ac.uk/techreports/UCAM-CL-TR-947.pdf" class="hero-bun">Book</a>
        <a href="https://frama-c.com/download/frama-c-value-analysis.pdf" class="hero-bun">Book</a>
        <a href="https://www.tantiauniversity.com/tu-documents/Notes/Notes_Engineering_Btech_3_Accessing_Structure_Members_in_C.pdf" class="hero-bun">Book</a>
        <a href="https://www.osha.gov/sites/default/files/publications/OSHA3812.pdf" class="hero-bun">Book</a>
        <a href="https://products-re.evonik.com/www2/uploads/productfinder/AEROXIDE-Alu-C-EN.pdf" class="hero-bun">Book</a>
        <a href="https://www.tax.ny.gov/pdf/memos/ptet/m21-1c-1i.pdf" class="hero-bun">Book</a>
        <a href="https://www.cisco.com/c/dam/en/us/td/docs/voice_ip_comm/expressway/config_guide/X12-5/Cisco-Expressway-IP-Port-Usage-for-Firewall-Traversal-Deployment-Guide-X12-5.pdf" class="hero-bun">Book</a>
        <a href="https://personnel.assam.gov.in/sites/default/files/swf_utility_folder/departments/personnel_webcomindia_org_oid_3/this_comm/M.C.Talukdar_3.pdf" class="hero-bun">Book</a>
        <a href="https://c.ekstatic.net/ecl/documents/health-screening-documents/approved-laboratories.pdf" class="hero-bun">Book</a>
        <a href="https://www.canarahsbclife.com/content/dam/choice/claims/health/form-c.pdf" class="hero-bun">Book</a>
        <a href="https://home.treasury.gov/system/files/136/PPP-Second-Draw-Borrower-Application-Form-for-Schedule-C-Filers-Using-Gross-Income.pdf" class="hero-bun">Book</a>
        <a href="https://www.cci.gov.in/sites/default/files/Notice_order_document/C-2020-02-728O.pdf" class="hero-bun">Book</a>
        <a href="https://www.health.gov.on.ca/en/pro/programs/immunization/docs/meningococcal_conjugate_vaccine.pdf" class="hero-bun">Book</a>
        <a href="https://rcrapublic.epa.gov/rcrainfoweb/documents/rcra_subtitleC_forms_and_instructions.pdf" class="hero-bun">Book</a>
        <a href="https://www.qld.gov.au/__data/assets/pdf_file/0014/93011/appointment-attendance-form-c.pdf" class="hero-bun">Book</a>
        <a href="https://www.pcisecuritystandards.org/documents/PCI-DSS-v3_2_1-SAQ-C.pdf" class="hero-bun">Book</a>
        <a href="https://www.mhlw.go.jp/content/3CS.pdf" class="hero-bun">Book</a>
        <a href="http://tcg.uis.unesco.org/wp-content/uploads/sites/4/2020/09/SDG4_indicator_list.pdf" class="hero-bun">Book</a>
      </section>
      </body>
</html>
