
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>PDF</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
        <style>
            body {
              background-image: url("images/bg7.gif");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
    </head>
    <body>
      <div class="back">
        <a href="./index.html" class="hero-bin">Go Back</a>
      </div>
      <section class="text-box">
        <a href="https://www.uceb.eu/DATA/Books/THE%20CIVIL%20ENGINEERING%20HANDBOOK.pdf" class="hero-bun">book</a>
        <a href="https://www.ice.org.uk/ICEDevelopmentWebPortal/media/Documents/what-is-civil-engineering/Civil-Engineering-Books.pdf" class="hero-bun">book</a>
        <a href="https://www.ice.org.uk/ICEDevelopmentWebPortal/media/Documents/what-is-civil-engineering/ICE-pre-college-or-university-civil-engineering-reading-list.pdf?ext=.pdf" class="hero-bun">book</a>
        <a href="https://web2.linktv.org/diploma-civil-engineering-books-in-pdf" class="hero-bun">book</a>
        <a href="https://video.linktv.org/civil%20engineering%20books%20by%20indian%20authors%20pdf" class="hero-bun">book</a>
        <a href="http://uceou.edu/civil/Civil%20-%20HAND%20BOOK%20-%202019-2020.pdf" class="hero-bun">book</a>
        <a href="https://onlinelibrary.wiley.com/doi/pdf/10.1002/9780470950043.fmatter" class="hero-bun">book</a>
        <a href="http://202.62.95.70:8080/jspui/bitstream/123456789/2000/1/Elements%20of%20Civil%20Engineering%20and%20Engineering%20Mechanics.pdf" class="hero-bun">book</a>
        <a href="https://www.strath.ac.uk/media/departments/civilengineering/ugstudy/bookclub/Book_Reading_Comments_2009-16.pdf" class="hero-bun">book</a>
        <a href="https://www.uop.edu.jo/download/research/members/[Architecture_Ebook]_Building_Design_and_Construction_Handbook.pdf" class="hero-bun">book</a>
        <a href="https://aryans.edu.in/pdf/recomendedbooks/civil.pdf" class="hero-bun">book</a>
        <a href="http://library.iitgn.ac.in/resourceguide/assets/users/_manutr/RB.pdf" class="hero-bun">book</a>
        <a href="https://madeeasypublications.org/document/book/CE_3200%20MCQ_2019.pdf" class="hero-bun">book</a>
        <a href="https://bcclweb.in/RTI/MANUAL%20FOR%20CIVIL%20ENGINEERINGWORKS.pdf" class="hero-bun">book</a>
        <a href="http://jntuhceh.ac.in/uploads/CIVIL_LIBRARY_BOOKS.pdf" class="hero-bun">book</a>
        <a href="https://www.bkngpnarnaul.ac.in/bkn-2020/Civil_Syl.pdf" class="hero-bun">book</a>
        <a href="https://nitsri.ac.in/Department/Civil%20Engineering/B.Tech_Applicable_for_2019_onwards.pdf" class="hero-bun">book</a>
        <a href="https://aabankhan.files.wordpress.com/2011/11/0750619643civil.pdf" class="hero-bun">book</a>
        <a href="http://vssut.ac.in/doc/CIVIL-NEW.pdf" class="hero-bun">book</a>
        <a href="https://www.mmit.edu.in/images/Syllabus/Civil/SE-syllabus-copy.pdf" class="hero-bun">book</a>
        <a href="http://www.sasurieengg.com/e-course-material/I-year-E-course-material-II-sem/9.GE6251-BCM.pdf" class="hero-bun">book</a>
        <a href="https://www.spce.ac.in/Documents/Civil/S&S/T.Y.B.Tech.Civil-15-15.pdf" class="hero-bun">book</a>
        <a href="https://nerist.ac.in/sites/default/files/pdf/Departments/CIVIL/BASE.pdf" class="hero-bun">book</a>
        <a href="https://www.peo.on.ca/sites/default/files/2019-10/Civil-Textbooks.pdf" class="hero-bun">book</a>
        <a href="http://gpudaipur.in/download/-1142442176Civil3Engg3rdyearn12.pdf" class="hero-bun">book</a>
        <a href="https://www.hit.ac.in/syllabus/syllabusfordiploma3rdsemester/Civil%20Engg%20diploma3rdsem.pdf" class="hero-bun">book</a>
        <a href="https://www.emerald.com/insight/content/doi/10.1108/eb048609/full/pdf?title=civil-engineering-a-reference-guide" class="hero-bun">book</a>
        <a href="https://schedule-old.fuller.edu/q/libros/H1K7G5/civil-engineering-books_pdf" class="hero-bun">book</a>
        <a href="https://www.andhrauniversity.edu.in/img/syllabus/Civil-Engg-Env-Engg-Elec-Syllabus-2019-2020.pdf" class="hero-bun">book</a>
        <a href="http://dte.goa.gov.in/pdf/curic/CIVILENGG.pdf" class="hero-bun">book</a>
        <a href="http://sbtejharkhand.nic.in/6thSem/Civil%20Engineering.pdf" class="hero-bun">book</a>
        <a href="https://civil.iitr.ac.in/assets/PDF/SYLLABUS_CE%20PDF.pdf" class="hero-bun">book</a>
        <a href="https://sairam.edu.in/wp-content/uploads/2021/01/CIVIL-SYLLABUS-BOOK-1-2.pdf" class="hero-bun">book</a>
        <a href="http://www.ecceengineers.eu/papers/files/CE_practical_notes_4.09.pdf" class="hero-bun">book</a>
        <a href="https://zenempresarial.files.wordpress.com/2009/12/civilengenhandbook.pdf" class="hero-bun">book</a>
        <a href="https://thdc.co.in/sites/default/files/1-Civil%20Engineering%20Hand%20Books%20%28030.11%29.pdf" class="hero-bun">book</a>
        <a href="http://www.old.iitbhu.ac.in/admissions/index.php/syllabus/4-yr_btech_civ.pdf" class="hero-bun">book</a>
        <a href="https://library.leeds.ac.uk/download/downloads/id/223/civil_engineering.pdf" class="hero-bun">book</a>
        <a href="http://storage1.expresspublishingapps.co.uk/leaflets/new/Civil_Engineering_Sample.pdf" class="hero-bun">book</a>
        <a href="https://cas.res.in/library/Taylor%20&%20Francis%20eBook%20Titles%20-%20Civil%20Engineering.pdf" class="hero-bun">book</a>
        <a href="https://wimixexaselu.weebly.com/uploads/1/3/4/3/134324609/7509806.pdf" class="hero-bun">book</a>
        <a href="https://srkvtech.org/wp-content/uploads/2017/05/R5-CIVIL-SYLLABUS.pdf" class="hero-bun">book</a>
        <a href="https://www.madeeasy.in/uploads/examsolution/74ufrep_CEESEMainsExamPaperII.pdf" class="hero-bun">book</a>
        <a href="http://142.11.243.235:7071/opac-tmpl/bootstrap/Nitw/Civil.pdf" class="hero-bun">book</a>
        <a href="https://www.aicte-india.org/sites/default/files/FINAL%20AICTE%20-%20UG-AUG%202018.pdf" class="hero-bun">book</a>
        <a href="https://www.aicte-india.org/sites/default/files/list-suggested-books-indian-authors-publishers.pdf" class="hero-bun">book</a>
        <a href="https://pce.polytropicservices.com/wp-content/uploads/2019/02/B.Tech-3rd-Sem.-syllabus-Civil-Engineering-2018.pdf" class="hero-bun">book</a>
        <a href="https://migrate.samses.ch/civil%20engineering%20books%20in%20hindi%20free%20download_pdf" class="hero-bun">book</a>
        <a href="http://cccapp.unap.edu.pe/content/ebook.php?article=diploma-civil-engineering-books-in-hindi-pdf&encrypt=9e2af1d68021c50afe0004059127487f" class="hero-bun">book</a>
        <a href="https://sjce.ac.in/wp-content/uploads/2018/01/Elements-of-Civil-Engineering.pdf" class="hero-bun">book</a>
        <a href="https://vit.ac.in/sites/default/files/BCL-2018-19.pdf" class="hero-bun">book</a>
        <a href="https://www.engineerscareergroup.in/Resources/Uploaded/IES-Books-List-Civil-Engineering.pdf" class="hero-bun">book</a>
        <a href="http://www.indusuni.ac.in/wp-content/uploads/2017/10/B-Tech-Civil-2017-18.pdf" class="hero-bun">book</a>
        <a href="http://www.scenashik.org/asset/download/TE%20Civil.pdf" class="hero-bun">book</a>
        <a href="https://digital-tool.wild.plus/mosaic/smoke/civil_engineer_books_pdf" class="hero-bun">book</a>
        <a href="https://www.geu.ac.in/content/dam/geu/pdf/course/ug/soe/curriculum/B.Tech-(Civil%20Engineering)-Curriculum.pdf" class="hero-bun">book</a>
        <a href="http://techedu.rajasthan.gov.in/BTER/Pdf/CE_II_2011.pdf" class="hero-bun">book</a>
        <a href="http://nitjsr.ac.in/academics/pdf/B.Tech%20Civil.pdf" class="hero-bun">book</a>
        <a href="https://www.sgmcoe.in/onlinesyllabus/S.Y.B.Tech.Civil_2019-20.pdf" class="hero-bun">book</a>
        <a href="http://punjabiuniversity.ac.in/syllabi/Academic%20Session%202016-17/Engineering%20Courses/B.Tech.%28Civil%20Engineering%29%20Part-2nd%20year%20to%204th%20year%28Semester%20III%20to%20VIII%29%28Batch%202015%29.pdf" class="hero-bun">book</a>
        <a href="https://webpages.uncc.edu/~jmconrad/hsed/cveg_0in.pdf" class="hero-bun">book</a>
        <a href="https://jntuh.ac.in/uploads/academics/R13B.Techcivil.pdf" class="hero-bun">book</a>
        <a href="https://forum.mailstudio.app/landie/margin/basic_civil_engineering_book_in_hindi_pdf" class="hero-bun">book</a>
        <a href="https://fan.football.sony.net/p/document/S4X2L2/basic-civil-engineering-book_pdf" class="hero-bun">book</a>
        <a href="https://www.svnuniversity.co.in/mainsite/SchemesnSyllabus/01%20Faculty%20of%20Engineering/Syllabus/2-Diploma%20in%20Civil%20Engineering/DIPLOMA%20CIVIL%20Engg.%201-6%20sem%20Syllabus.pdf" class="hero-bun">book</a>
        <a href="http://becbapatla.ac.in:8080/civil/R14%20234%20Syllabi_final%20(1).pdf" class="hero-bun">book</a>
        <a href="http://gpsundernagar.org/main1001/wp-content/uploads/2018/08/Civil-Engineering-Third-and-Fourth.pdf" class="hero-bun">book</a>
        <a href="https://lnct.ac.in/wp-content/uploads/2020/03/Soil-mechanics-gopal-ranjan-and-rao.pdf" class="hero-bun">book</a>
        <a href="http://www.thapar.edu/images/civil_dept/Group%20A%20Civil%20Engineering.pdf" class="hero-bun">book</a>
        <a href="https://jayamukhi.ac.in/pdf/R18-CIVIL-Syllabus.PDF" class="hero-bun">book</a>
        <a href="http://knit.ac.in/pdf/CivilEngg.pdf" class="hero-bun">book</a>
        <a href="http://www.jngec.ac.in/academics/downloads/Civil-Engg._3rd-to-8th-Sem_CBCS.pdf" class="hero-bun">book</a>
        <a href="https://booking.demo.onepercentclub.com/eatwell/center/civil_engineering_textbook_pdf" class="hero-bun">book</a>
        <a href="https://www.ikbooks.com/openPdf/9789384588311" class="hero-bun">book</a>
        <a href="http://www.unishivaji.ac.in/syllabus/engineering/be/S.E/CIVIlL/CIVIL.pdf" class="hero-bun">book</a>
        <a href="http://www.jaduniv.edu.in/upload_files/course_file/1333445101-1.pdf" class="hero-bun">book</a>
        <a href="https://dev.westleyengineering.co.uk/DocZiON/big-data/diploma_civil_engineering_books_in_hindi_pdf" class="hero-bun">book</a>
        <a href="https://www.hzu.edu.in/engineering/Engineering%20Fundamentals.pdf" class="hero-bun">book</a>
        <a href="http://gpberinag.org.in/download/file/v4ydDCnzqL.pdf" class="hero-bun">book</a>
        <a href="https://www.smvdu.ac.in/images/stories/pdf/Academics/Curriculum__Syllabus/civilEngg/12032020_btechCivilSyllabus.pdf" class="hero-bun">book</a>
        <a href="http://beverly.m.wickedlocal.com/cgi-bin/content/view.php?data=civil_engineering_books_by_indian_authors&filetype=pdf&id=81bd813331bf389d84eea0bddeb3d0a6" class="hero-bun">book</a>
        <a href="https://www.bitmesra.ac.in/UploadedDocuments/admincivil/files/B_Tech_%20Civil%20CBCS%20syllabus(1).pdf" class="hero-bun">book</a>
        <a href="https://makautwb.ac.in/syllabus/Civil_Final_Upto_4th_Year_Syllabus_14.03.14.pdf" class="hero-bun">book</a>
        <a href="https://dashboard.p2018-048-2.twtg.io/energen/document/basic_civil_engineering_book_pdf" class="hero-bun">book</a>
        <a href="https://ce.gndec.ac.in/Syllabus_of_B.Tech-Civil.pdf" class="hero-bun">book</a>
        <a href="https://cphbooks.in/pdf/Element_of_Civil_Engineering.pdf" class="hero-bun">book</a>
        <a href="http://site.iugaza.edu.ps/afoul/files/2010/02/Environmental_book.pdf" class="hero-bun">book</a>
        <a href="https://www.nitt.edu/home/academics/curriculum/B_Tech-CIVIL-2012.pdf" class="hero-bun">book</a>
        <a href="http://dspace.cusat.ac.in/jspui/bitstream/123456789/1035/1/Civil%20Engineering%20%202006%20%20Sem%20I%20%26%20II.pdf" class="hero-bun">book</a>
        <a href="https://testbook.com/blog/wp-content/uploads/2017/07/13-Recommended-Books-for-GATE-Civil-Engineering-2018-in-PDF.pdf" class="hero-bun">book</a>
        <a href="http://dl.icdst.org/pdfs/files/026e9f930a805e8b85b593a6cfaa6bf9.pdf" class="hero-bun">book</a>
        <a href="https://cac.annauniv.edu/aidetails/afug_2013_fu/01.Civil.pdf" class="hero-bun">book</a>
        <a href="https://vtu.ac.in/wp-content/uploads/2019/12/B.E-in-Civil-Engineering-syla-1.pdf" class="hero-bun">book</a>
        <a href="https://jmi.ac.in/upload/menuupload/zhl_ebooks_engineering.pdf" class="hero-bun">book</a>
        <a href="https://civiltechnocrats.files.wordpress.com/2013/11/101986842-basic-civil-engineering-s-s-bhavikatti.pdf" class="hero-bun">book</a>
        <a href="https://mstechhub492491784.files.wordpress.com/2018/08/websites-civil.pdf" class="hero-bun">book</a>
        <a href="https://pitk.ptu.ac.in/userfiles/file/engg_syllab/civil/B_Tech_%20Civil%20Engg%20Batch%202018%20(28-12-2020).pdf" class="hero-bun">book</a>
        <a href="https://www.cpwr.com/wp-content/uploads/publications/The_6th_Edition_Construction_eChart_Book.pdf" class="hero-bun">book</a>
        <a href="http://www.civil.iitb.ac.in/~dc/Book-Review-ICE-2017.pdf" class="hero-bun">book</a>
        <a href="http://www.constructionhistory.co.uk/wp-content/uploads/2014/09/CH-bibliography-A.pdf" class="hero-bun">book</a>
      </section>
      </body>
</html>
