<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Contact-owner</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
        <style>
            body {
              background-image: url("images/bg7.gif");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
    </head>
    <body>
      <div class="back">
        <a href="./index.html" class="hero-bin">Go Back</a>
      </div>
      <section class="text-box">
      <a href="encyclopedia science.html" class="hero-bin">ecylo.. science</a>
      <a href="encyclopedia technology.html" class="hero-bin">ecylo.. technology</a>
      <a href="encyclopedia universe.html" class="hero-bin">ecylo.. universe</a>
      <a href="encyclopedia history.html" class="hero-bin">ecylo.. history</a>
      <a href="encyclopedia geography.html" class="hero-bin">ecylo.. geography</a>
      <a href="encyclopedia world war 2.html" class="hero-bin">ecylo.. World War II</a>
      </section>
      </body>
</html>