
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Contact-owner</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
        <style>
            body {
              background-image: url("images/bg7.gif");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
    </head>
    <body>
      <div class="back">
        <a href="./index.html" class="hero-bin">Go Back</a>
      </div>
      <section class="text-box">
        <a href="https://en.wikipedia.org/wiki/HTML" class="hero-bun">Book</a>
        <a href="https://web.stanford.edu/group/csp/cs21/htmlcheatsheet.pdf" class="hero-bun">Book</a>
        <a href="https://www.tutorialspoint.com/html/html_tutorial.pdf" class="hero-bun">Book</a>
        <a href="https://www.srecwarangal.ac.in/cse-downloads/WT-Course-Material.pdf" class="hero-bun">Book</a>
        <a href="https://si.sari-mutiara.ac.id/download/file/web-design-with-html-and-css-digital-classroom.pdf" class="hero-bun">Book</a>
        <a href="https://html.spec.whatwg.org/print.pdf" class="hero-bun">Book</a>
        <a href="https://wtf.tw/ref/duckett.pdf" class="hero-bun">Book</a>
        <a href="https://ncert.nic.in/textbook/pdf/kect201.pdf" class="hero-bun">Book</a>
        <a href="https://www.fing.edu.uy/tecnoinf/mvd/cursos/ria/material/teorico/html-tags-chart.pdf" class="hero-bun">Book</a>
        <a href="http://osou.ac.in/eresources/dca04-block04-html.pdf" class="hero-bun">Book</a>
        <a href="http://egyankosh.ac.in/bitstream/123456789/9954/1/Unit-2.pdf" class="hero-bun">Book</a>
        <a href="https://nios.ac.in/media/documents/330srsec/online_course_material_330/Theory/Lesson_24.pdf" class="hero-bun">Book</a>
        <a href="https://www.mgkvp.ac.in/Uploads/Lectures/47/3511.pdf" class="hero-bun">Book</a>
        <a href="https://www.mgkvp.ac.in/Uploads/Lectures/47/2611.pdf" class="hero-bun">Book</a>
        <a href="http://becbapatla.ac.in:8080/mca/Manuals/WT%20LAB.pdf" class="hero-bun">Book</a>
        <a href="http://www.icet.ac.in/Uploads/Downloads/Module2%20Notes2020.pdf" class="hero-bun">Book</a>
        <a href="https://www.doc-developpement-durable.org/file/Projets-informatiques/cours-&-manuels-informatiques/htm-html-xml-ccs/Sams%20Teach%20Yourself%20HTML,%20CSS,%20and%20JavaScript%20All%20in%20One.pdf" class="hero-bun">Book</a>
        <a href="http://web.usf.edu/blwarner/tips/HTMLTips/HTMLNewDemo/demopage2-tags.pdf" class="hero-bun">Book</a>
        <a href="https://www.cs.uct.ac.za/mit_notes/web_programming/pdfs/chp04.pdf" class="hero-bun">Book</a>
        <a href="http://bbsins.bbsschool.in/UploadFiles/OLS_8811201631168.pdf" class="hero-bun">Book</a>
        <a href="https://www.mvsrec.edu.in/images/PDF/syllabus/html.pdf" class="hero-bun">Book</a>
        <a href="http://www.miet.ac.in/assets/uploads/html-dhtml.pdf" class="hero-bun">Book</a>
        <a href="http://miet.ac.in/assets/Winter-Training%20-%20Web-Development-Using-HTML-DHTML.pdf" class="hero-bun">Book</a>
        <a href="https://www.dcpehvpm.org/E-Content/BCA/BCA-II/Web%20Technology/the-complete-reference-html-css-fifth-edition.pdf" class="hero-bun">Book</a>
        <a href="https://www.cs.drexel.edu/~spiros/teaching/SE101/slides/html.pdf" class="hero-bun">Book</a>
        <a href="https://littleflowercollege.edu.in/upload/pdf_upload/1e0b16e1b7bb89419f3ba798ac018949.pdf" class="hero-bun">Book</a>
        <a href="https://rajdhanicollege.ac.in/admin/ckeditor/ckfinder/userfiles/files/BAprogIII_6may_1P.pdf" class="hero-bun">Book</a>
        <a href="https://www.deccansoft.com/Documents/SyllabusDocs/0d799091-2b2a-467f-94c4-d2aa3863775c_Syllabus_of_HtmlandCss.pdf" class="hero-bun">Book</a>
        <a href="https://www.lkouniv.ac.in/site/writereaddata/siteContent/202005171817289765Priyanka-WT-HTML%20Question%20Bank.pdf" class="hero-bun">Book</a>
        <a href="https://www.magadhuniversity.ac.in/download/econtent/pdf/HTML_BCAI_ADITYA_GUPTA.pdf" class="hero-bun">Book</a>
        <a href="https://docs.vmware.com/en/VMware-Horizon-HTML-Access/4.0/horizon-html-access-4x-document/GUID-976EEA30-13C8-4894-AEA5-D08C83C1210F.html" class="hero-bun">Book</a>
        <a href="https://elearning.raghunathpurcollege.ac.in/files/EE2028DA16038697260.pdf" class="hero-bun">Book</a>
        <a href="http://www.punjabiuniversity.ac.in/pages/Images/elearn/javascript_ucc.pdf" class="hero-bun">Book</a>
        <a href="https://mhtcet2020.mahaonline.gov.in/Content/PDF/Other/Mock%20Link%20for%20PCM.pdf" class="hero-bun">Book</a>
        <a href="http://www.knruhs.telangana.gov.in/sites/default/files/2019-09/EXAMINATIONSFEEPAYMENTLINK_1.pdf" class="hero-bun">Book</a>
        <a href="http://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=FC7E051368B733B777AB429C581896B6?doi=10.1.1.120.8750&rep=rep1&type=pdf" class="hero-bun">Book</a>
        <a href="https://gdcplnr.edu.in/admin/uploads/530frame%20in%20html%204%20Sem.pdf" class="hero-bun">Book</a>
        <a href="https://www.kmit.in/department/LectureNotes/UNIT-2-HTML%20Notes.pdf" class="hero-bun">Book</a>
        <a href="https://www.shahucollegelatur.org.in/Department/Studymaterial/sci/it/BCS/FY/chap6.pdf" class="hero-bun">Book</a>
        <a href="http://www.gpsrinagar.org/lms/CSE-IT/CSE%204th%20semHTML.pdf" class="hero-bun">Book</a>
        <a href="https://www.shivajicollege.ac.in/sPanel/uploads/econtent/b7c46cf706748a409a2be20088bed995.pdf" class="hero-bun">Book</a>
        <a href="http://nielit.gov.in/gorakhpur/sites/default/files/Gorakhpur/OLEVEL_1_WPD_15May2020_IL.pdf" class="hero-bun">Book</a>
        <a href="https://www.tn.gov/governor/covid-19/economic-recovery.html" class="hero-bun">Book</a>
        <a href="http://ncet.co.in/assets/pdf/e_learning/ise/ol/semIII/pdf/Module%201%20HTML%20and%20CSS.pdf" class="hero-bun">Book</a>
        <a href="https://www.osha.gov/sites/default/files/publications/hydraulic_frac_hazard_alert.pdf" class="hero-bun">Book</a>
        <a href="https://ycmou.ac.in/media/post_image/e09c1b41101e7aec413099ffd9c99651.pdf" class="hero-bun">Book</a>
        <a href="http://www.dddccbl.com/Resources/Download/MVC_App.pdf" class="hero-bun">Book</a>
        <a href="https://cran.r-project.org/web/packages/stargazer/vignettes/stargazer.pdf" class="hero-bun">Book</a>
        <a href="https://www.bosch.in/media/our_company/shareholder_information/2017_2/shpattern_31122017.pdf" class="hero-bun">Book</a>
        <a href="https://www.rites.com/Upload/upload/misc/Balancesheet/RITES_CorpGovern--Report_31032021.pdf" class="hero-bun">Book</a>
        <a href="https://www.mha.gov.in/sites/default/files/TierII_result_page_22102021_0.pdf" class="hero-bun">Book</a>
        <a href="https://nsg.gov.in/sites/default/files/start_up_india.pdf" class="hero-bun">Book</a>
        <a href="http://highereducation.mp.gov.in/Uploaded%20Document/Circular/26072021010443Letter%20and%20list%20of%20Colleges%20for%20Remedial.pdf" class="hero-bun">Book</a>
        <a href="https://www.ijert.org/research/implementation-of-web-data-extraction-with-mashup-techniques-for-html-documents-IJERTV2IS4117.pdf" class="hero-bun">Book</a>
        <a href="http://forest.delhigovt.nic.in/wps/wcm/connect/47fda68041e298149df59f28c2355f02/objection_link.pdf?MOD=AJPERES&lmod=-804466134" class="hero-bun">Book</a>
        <a href="https://eur-lex.europa.eu/resource.html?uri=cellar:5c835afb-2ec6-4577-bdf8-756d3d694eeb.0004.02/DOC_1&format=PDF" class="hero-bun">Book</a>
        <a href="https://www.jstor.org/stable/pdf/3830560.pdf" class="hero-bun">Book</a>
        <a href="http://engineering.apssdc.in/cseit/files/CourseContent/fourthYear/Front%20End%20Technologies.pdf" class="hero-bun">Book</a>
        <a href="https://m.marico.com/investorspdf/Shareholding_Pattern_June_30_2021.pdf" class="hero-bun">Book</a>
        <a href="http://highcourtchd.gov.in/data/2016_03_28_b_m.pdf" class="hero-bun">Book</a>
        <a href="https://www.sebi.gov.in/sebi_data/commondocs/fig2_p.pdf" class="hero-bun">Book</a>
        <a href="https://labeling.bayerhealthcare.com/html/products/pi/Betaseron_PI.pdf" class="hero-bun">Book</a>
        <a href="https://npti.gov.in/sites/default/files/latest-annoucement-document/Link.pdf" class="hero-bun">Book</a>
        <a href="http://www.nyc.gov/html/planyc/downloads/pdf/publications/full_report_2007.pdf" class="hero-bun">Book</a>
        <a href="https://www.nyc.gov/html/dot/downloads/pdf/cycling-in-the-city.pdf" class="hero-bun">Book</a>
        <a href="https://www.icegate.gov.in/Download/JavaSetupForDSC.pdf" class="hero-bun">Book</a>
        <a href="https://nr.indianrailways.gov.in/cris/uploads/files/1612266799469-15449.pdf" class="hero-bun">Book</a>
        <a href="https://www.bhel.com/sites/default/files/Enq_352001831-2021-03-23-02%3A25%3A18.pdf" class="hero-bun">Book</a>
        <a href="https://www.iimb.ac.in/sites/default/files/2019-03/Vendor-Registration-Procedure.pdf" class="hero-bun">Book</a>
        <a href="http://shivajicsakola.in/Quest-bank/BSc-I-S-II-QBank.pdf" class="hero-bun">Book</a>
        <a href="http://www.nextmediaworks.com/Outcome-of-Board-Meeting-18-July-2018.pdf" class="hero-bun">Book</a>
        <a href="https://geospatialworldforum.org/speaker/SpeakersImages/an-html-tool-for-explointing-geospatial-web-services.pdf" class="hero-bun">Book</a>
        <a href="https://www.gov.mb.ca/covid19/restoring/music-guidelines.html" class="hero-bun">Book</a>
        <a href="https://prsindia.org/files/covid19/notifications/RJ_Sec.144_State_Mar%2018.pdf" class="hero-bun">Book</a>
        <a href="https://keralapolice.gov.in/storage/orders/iaps/78dbf4fe4d14e160302825bd72908e02.pdf" class="hero-bun">Book</a>
        <a href="https://www.nestle.in/sites/g/files/pydnoa451/files/2021-10/SHP-Q3-2021.pdf.pdf" class="hero-bun">Book</a>
        <a href="https://www.ujaas.com/wp-content/uploads/2014/03/Corporate-Governance_31st-March-2021.pdf" class="hero-bun">Book</a>
        <a href="https://www.ipcc.ch/publications_and_data/ar4/wg1/en/ch2s2-10-2.html" class="hero-bun">Book</a>
        <a href="https://www.ametuniv.ac.in/naac/C6/6_1/612/AMET_Calender.pdf" class="hero-bun">Book</a>
        <a href="http://lia.deis.unibo.it/Courses/PMA4DS1112/materiale/15.web%20document%20types.pdf" class="hero-bun">Book</a>
        <a href="https://www.researchgate.net/file.PostFileLoader.html?id=5641f4c36143250eac8b45b7&assetKey=AS%3A294237418606593%401447163075131" class="hero-bun">Book</a>
        <a href="https://dgrindia.gov.in/writereaddata/media/documents/517b6077-ca22-45e3-b0a8-a024f3ff4880.pdf" class="hero-bun">Book</a>
        <a href="https://www.ibbi.gov.in/uploads/resources/Interview_in_Chartered_Secretary_September_2017.pdf" class="hero-bun">Book</a>
        <a href="http://home.iitk.ac.in/~abhik/ACA/html/lec1.pdf" class="hero-bun">Book</a>
        <a href="https://www.septa.org/schedules/bus/pdf/206.pdf" class="hero-bun">Book</a>
        <a href="http://www.cushahbca.ac.in/wp-content/uploads/2021/02/HTML-1-2.pdf" class="hero-bun">Book</a>
        <a href="https://www.cbse.gov.in/cbsenew/documents/20211127_NOTICE_PRIVATE_FORMS_CLASS12.pdf" class="hero-bun">Book</a>
        <a href="http://boson.in/wp-content/uploads/2019/01/attach_793728_1545215340.pdf" class="hero-bun">Book</a>
        <a href="https://www.1pay.in/assets/pdf/QuickIntegrationDoc.pdf" class="hero-bun">Book</a>
        <a href="https://www.cacp.ca/index.html?asst_id=2189" class="hero-bun">Book</a>
        <a href="https://www.patelairtemp.com/pdf/shareholding-pattern/shareholding-pattern-31-12-2020.pdf" class="hero-bun">Book</a>
        <a href="https://www.biofilgroup.net/Outcomes%20of%20E%20Voting/Voting%20Results%20and%20Scrutinizer%20Report%202018.pdf" class="hero-bun">Book</a>
        <a href="http://www.srmenergy.in/Data/Documents/SRM%20Energy%20-%20SH%20-%202020%20-%20Q4.pdf" class="hero-bun">Book</a>
        <a href="http://www.periyasamy.in/wp-content/themes/periyasamy/images/periyasamy-cv-updated.pdf" class="hero-bun">Book</a>
        <a href="https://www.act.org/content/dam/act/unsecured/documents/ACT-calculator-policy.pdf" class="hero-bun">Book</a>
        <a href="http://www.itschool.gov.in/2012/9_Eng.pdf" class="hero-bun">Book</a>
        <a href="https://history.army.mil/html/museums/uniforms/survey_uwa.pdf" class="hero-bun">Book</a>
        <a href="http://www.floodsite.net/html/partner_area/project_docs/T09_06_01_Flood_damage_guidelines_d9_1_v2_2_p44.pdf" class="hero-bun">Book</a>
        <a href="https://www.fda.gov/media/136230/download" class="hero-bun">Book</a>
        <a href="https://panchsheelorganics.com/docs/SHP_Sep%202021.pdf" class="hero-bun">Book</a>
      </section>
      </body>
</html>
