
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Contact-owner</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
        <style>
            body {
              background-image: url("images/bg7.gif");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
    </head>
    <body>
      <div class="back">
        <a href="./index.html" class="hero-bin">Go Back</a>
      </div>
      <section class="text-box">
        <a href="https://fr.wikipedia.org/wiki/JavaScript" class="hero-bun">Book</a>
        <a href="https://en.wikipedia.org/wiki/JavaScript" class="hero-bun">Book</a>
        <a href="https://www.tutorialspoint.com/javascript/javascript_tutorial.pdf" class="hero-bun">Book</a>
        <a href="https://www.servicenow.com/content/dam/servicenow/other-documents/training/ServiceNow-JavaScript-Primer.pdf" class="hero-bun">Book</a>
        <a href="http://www.punjabiuniversity.ac.in/pages/Images/elearn/javascript_ucc.pdf" class="hero-bun">Book</a>
        <a href="https://eloquentjavascript.net/Eloquent_JavaScript.pdf" class="hero-bun">Book</a>
        <a href="https://dl.acm.org/doi/pdf/10.1145/3386327" class="hero-bun">Book</a>
        <a href="https://www.adobe.com/content/dam/acom/en/devnet/scripting/estk/javascript_tools_guide.pdf" class="hero-bun">Book</a>
        <a href="https://www6.software.ibm.com/developerworks/education/wa-jsobj/wa-jsobj-a4.pdf" class="hero-bun">Book</a>
        <a href="https://www.lamsade.dauphine.fr/~mlampis/EAPPS/lec2/js-slides.pdf" class="hero-bun">Book</a>
        <a href="https://docs.oracle.com/cd/E19957-01/816-6409-10/816-6409-10.pdf" class="hero-bun">Book</a>
        <a href="https://cglab.ca/~morin/teaching/2405/notes/javascript1.pdf" class="hero-bun">Book</a>
        <a href="https://web.stanford.edu/class/cs106aj/res/lectures/05-JavaScript-Programs.pdf" class="hero-bun">Book</a>
        <a href="https://www.sathyabama.ac.in/sites/default/files/course-material/2020-10/UNIT2.pdf" class="hero-bun">Book</a>
        <a href="https://ncert.nic.in/ncerts/l/kect210.pdf" class="hero-bun">Book</a>
        <a href="https://www.marian.ac.in/public/images/uploads/pdf/online-class/javascript%2Bpgms.pdf" class="hero-bun">Book</a>
        <a href="http://nielit.gov.in/gorakhpur/sites/default/files/Gorakhpur/OLEVEL_1_WPD_15May2020_IL.pdf" class="hero-bun">Book</a>
        <a href="https://www.carahsoft.com/application/files/1014/9314/4287/Steven_Warwick_Part_2_-_A_Deeper_Dive_into_Developing_Custom_Interactions_in_Adobe_Captivate_Using_JavaScript.pdf" class="hero-bun">Book</a>
        <a href="https://www.evl.uic.edu/luc/bvis546/Essential_Javascript_--_A_Javascript_Tutorial.pdf" class="hero-bun">Book</a>
        <a href="https://www.cs.uct.ac.za/mit_notes/web_programming/pdfs/chp14.pdf" class="hero-bun">Book</a>
        <a href="https://autotelicum.github.io/Smooth-CoffeeScript/literate/js-intro.pdf" class="hero-bun">Book</a>
        <a href="https://pepa.holla.cz/wp-content/uploads/2015/11/JavaScript-A-Beginners-Guide-Fourth-Edition1.pdf" class="hero-bun">Book</a>
        <a href="https://www.ips.ac.rs/wp-content/uploads/2017/07/jsfkids.pdf" class="hero-bun">Book</a>
        <a href="https://indico.cern.ch/event/853710/contributions/3708132/attachments/1985053/3307323/Armina_Abramyan_JS_for_Science.pdf" class="hero-bun">Book</a>
        <a href="https://www.lkouniv.ac.in/site/writereaddata/siteContent/202005171817289452Priyanka-WT-Javascript.pdf" class="hero-bun">Book</a>
        <a href="https://docs.aws.amazon.com/sdk-for-javascript/v3/developer-guide/js-sdk-dg.pdf" class="hero-bun">Book</a>
        <a href="http://www.cs.toronto.edu/~mashiyat/csc309/Lectures/javascript.pdf" class="hero-bun">Book</a>
        <a href="http://www.wiu.edu/university_technology/web_services/documentation/content_management_system/docs/Javascript%20in%20header.pdf" class="hero-bun">Book</a>
        <a href="https://login.nirfindia.org/Content/JSEnable/Firefox.pdf" class="hero-bun">Book</a>
        <a href="http://www.tccollege.org/wp-content/uploads/2020/04/Web_Designing_Javascript.pdf" class="hero-bun">Book</a>
        <a href="http://web.uvic.ca/~mholmes/dhoxss2013/handouts/mdh_javascript-for-xhtml-intro.pdf" class="hero-bun">Book</a>
        <a href="http://ww2.cs.fsu.edu/~faizian/cgs3066/resources/Lecture11-Javascript%20HTML%20DOM.pdf" class="hero-bun">Book</a>
        <a href="http://ncet.co.in/assets/pdf/e_learning/ise/ol/semIII/pdf/module%202%20Javascript.pdf" class="hero-bun">Book</a>
        <a href="https://cs.brown.edu/~sk/Publications/Papers/Published/gsk-essence-javascript/paper.pdf" class="hero-bun">Book</a>
        <a href="https://www.studykeeda.in/wp-content/uploads/2020/09/Javascript-notes-1.pdf" class="hero-bun">Book</a>
        <a href="https://www.jpmorgan.com/content/dam/jpm/merchant-services/payment-network-updates/documents/visa-security-alert-november-2019.pdf" class="hero-bun">Book</a>
        <a href="https://info.umkc.edu/wlg/wp-content/uploads/2013/06/JavaScript-1011.pdf" class="hero-bun">Book</a>
        <a href="https://www.sas.com/content/dam/SAS/support/en/sas-global-forum-proceedings/2019/3169-2019.pdf" class="hero-bun">Book</a>
        <a href="https://www.talentica.com/assets/tech-watch/techwatch-report-javascript-libraries-and-frameworks.pdf" class="hero-bun">Book</a>
        <a href="http://lnmuacin.in/studentnotice/2020/JavaScript_object-min.pdf" class="hero-bun">Book</a>
        <a href="https://help.sap.com/doc/f3a7364ba1c9403fa7a51f9cb75f3132/2020/en-US/sbo42sp4_cr_js_api_en.pdf" class="hero-bun">Book</a>
        <a href="https://resources.docs.salesforce.com/latest/latest/en-us/sfdc/pdf/jsapi_chatteranswers.pdf" class="hero-bun">Book</a>
        <a href="http://index-of.co.uk/Java/JavaScript.pdf" class="hero-bun">Book</a>
        <a href="https://psrc.princeton.edu/sites/psrc/files/html_tips_tricks.pdf" class="hero-bun">Book</a>
        <a href="https://www.cisco.com/c/en/us/td/docs/voice_ip_comm/cust_contact/contact_center/customer_voice_portal/cvp11_5/user/guide/CCVP_BK_13CF0982_00_115-vxml-server-user-guide/CCVP_BK_13CF0982_00_115-vxml-server-user-guide_chapter_0111.pdf" class="hero-bun">Book</a>
        <a href="http://supmtioujda.ma/wp-content/uploads/2014/04/past-present-and-future-of-javascript.pdf" class="hero-bun">Book</a>
        <a href="https://www.unica.it/unica/protected/205355/0/def/ref/MAT201939/" class="hero-bun">Book</a>
        <a href="http://opsconline.gov.in/documents/How%20to%20enable%20JavaScript.pdf" class="hero-bun">Book</a>
        <a href="http://www.esri.com/content/dam/esrisites/en-us/events/conferences/2020/developer-summit/arcgis-api-for-javascript-practical-guideforbuilding.pdf" class="hero-bun">Book</a>
        <a href="http://www.drhimasekharcollege.org/notes/javascript.pdf" class="hero-bun">Book</a>
        <a href="https://www.ciwcertified.com/resources/documents/course-descriptions/JavaScript_v2.0_CourseOutline.pdf" class="hero-bun">Book</a>
        <a href="https://silvaco.com/wp-content/uploads//content/appNotes/iccad/2-016_PCELLS.pdf" class="hero-bun">Book</a>
        <a href="https://support.industry.siemens.com/cs/attachments/109758536/109758536_Unified_JS_Styleguide_V10_en.pdf" class="hero-bun">Book</a>
        <a href="http://web.cs.wpi.edu/~kal/courses/awt/lab1/wwwch4.PDF" class="hero-bun">Book</a>
        <a href="https://nodesource.com/resources/presskit/services/training/nodesource_training-javascript_datasheet.pdf" class="hero-bun">Book</a>
        <a href="https://www.orleanspark.school/force_download.cfm?id=1291474" class="hero-bun">Book</a>
        <a href="https://exploringjs.com/impatient-js/downloads/impatient-js-preview-book.pdf" class="hero-bun">Book</a>
        <a href="https://www.littleflowercollege.edu.in/upload/e_contents/files/26df7e0e5467ac64d3e39b5d68924305.pdf" class="hero-bun">Book</a>
        <a href="https://dfc-data-production.s3.amazonaws.com/files/ti/thi/THI-000137/JavaScript_Dev_I_Cert_Prep_MOD_1.pdf" class="hero-bun">Book</a>
        <a href="http://blackrockx.com/cgi-bin/content/view.php?data=javascript_patterns&filetype=pdf&id=0465d5a0af6ea5ce2bb8d3b31f0a2d34" class="hero-bun">Book</a>
        <a href="https://www.doc-developpement-durable.org/file/Projets-informatiques/cours-&-manuels-informatiques/htm-html-xml-ccs/Sams%20Teach%20Yourself%20HTML,%20CSS,%20and%20JavaScript%20All%20in%20One.pdf" class="hero-bun">Book</a>
        <a href="https://openconnectivity.org/wp-content/uploads/2016/04/JavaScript-for-OCF-Apps-DEV-DAYS-v03-SAKARI-POUSSA.pdf" class="hero-bun">Book</a>
        <a href="https://www.ndss-symposium.org/wp-content/uploads/2020/02/24262.pdf" class="hero-bun">Book</a>
        <a href="https://www.bestdotnettraining.com/pdf/Syllabus_of_JavaScript.pdf" class="hero-bun">Book</a>
        <a href="http://www.nematrian.com/Pages/HTMLCSSJSCombined.pdf" class="hero-bun">Book</a>
        <a href="http://www.icet.ac.in/Uploads/Downloads/Module%204%20notes2020.pdf" class="hero-bun">Book</a>
        <a href="https://www.pure-systems.com/pv-update/additions/doc/latest/pv-javascript-guide.pdf" class="hero-bun">Book</a>
        <a href="https://arxiv.org/pdf/2108.08027" class="hero-bun">Book</a>
        <a href="https://wpassets.ncwit.org/wp-content/uploads/2021/07/19182135/full_stack_javascript_syllabus_new_02122021.pdf" class="hero-bun">Book</a>
        <a href="https://www.louisianabelieves.com/docs/default-source/jumpstart/fundamentals-of-javascript-functional-programming-and-web-development.pdf?sfvrsn=a5af991f_2" class="hero-bun">Book</a>
        <a href="https://javascript-conference.com/wp-content/uploads/2018/11/How_can_you_make_a_JavaScript_Website_successful_in_Google.pdf" class="hero-bun">Book</a>
        <a href="http://www-archive.mozilla.org/js/language/evolvingJS.pdf" class="hero-bun">Book</a>
        <a href="http://www.lsis.org/elmouelhia/courses/js/summaryJS.pdf" class="hero-bun">Book</a>
        <a href="http://campus.murraystate.edu/academic/faculty/wlyle/415/2014/Vinson.pdf" class="hero-bun">Book</a>
        <a href="https://www.ucas.com/sites/default/files/switchonjavascript.pdf" class="hero-bun">Book</a>
        <a href="http://www.energy.gov/sites/prod/files/Tuesday_Fair_Park_2_1545_Orvis.pdf" class="hero-bun">Book</a>
        <a href="https://cspc.co.in/sp/(X(1)S(xrzvkp0n15ol0zdv3c31edx1))/Docs_files/How-to-Enable-JavaScript-in-Internet-Explorer.pdf" class="hero-bun">Book</a>
        <a href="http://cbseacademic.nic.in/web_material/Curriculum21/SQP_MS_XII/803_WEB_APPLICATION_SQP_MS.pdf" class="hero-bun">Book</a>
        <a href="https://iopscience.iop.org/article/10.1088/1742-6596/1744/4/042197/pdf" class="hero-bun">Book</a>
        <a href="https://www.blackhat.com/presentations/bh-europe-07/Sotirov/Presentation/bh-eu-07-sotirov-apr19.pdf" class="hero-bun">Book</a>
        <a href="https://www.polyteknisk.dk/related_materials/9781847190987_Chapter_3.pdf" class="hero-bun">Book</a>
        <a href="https://dondi.lmu.build/share/intro/pseudocode2js-v02.pdf" class="hero-bun">Book</a>
        <a href="http://www.grch.com.ar/docs/pp/Apuntes/JavaScript%20Bible%207th%20Edition%20PDF_orig.pdf" class="hero-bun">Book</a>
        <a href="https://brave.com/wp-content/uploads/2020/07/event-loop-signatures-sp-2021.pdf" class="hero-bun">Book</a>
        <a href="https://winterstein.me.uk/javascript/JavaScript%20Course%20Notes.pdf" class="hero-bun">Book</a>
        <a href="http://www-scf.usc.edu/~csci201/lectures/Lecture7/JavaScript.pdf" class="hero-bun">Book</a>
        <a href="https://homes.luddy.indiana.edu/ccshan/browser/plas10.pdf" class="hero-bun">Book</a>
        <a href="https://assets.ctfassets.net/kdr3qnns3kvk/27OcusEhGRjPmYUkoXPz1k/21ece48f29b010907701d51ed61cad9c/15Puzzle.pdf" class="hero-bun">Book</a>
        <a href="https://www.oasys-software.com/dyna/wp-content/uploads/2018/03/Introduction_to_JavaScript.pdf" class="hero-bun">Book</a>
        <a href="https://www.miran-bel.com/upload/iblock/a9d/a9daeb820c9191a0f58a89be92368cad.pdf" class="hero-bun">Book</a>
        <a href="https://openjsf.org/wp-content/uploads/sites/84/2021/08/OpenJS-Foundation-OVERVIEW-August-2021.pdf" class="hero-bun">Book</a>
        <a href="https://websitesetup.org/wp-content/uploads/2020/09/Javascript-Cheat-Sheet.pdf" class="hero-bun">Book</a>
        <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.89.183&rep=rep1&type=pdf" class="hero-bun">Book</a>
        <a href="https://www.diva-portal.org/smash/get/diva2:1461878/FULLTEXT01.pdf" class="hero-bun">Book</a>
        <a href="https://www.usenix.org/system/files/sec21fall-shusterman.pdf" class="hero-bun">Book</a>
        <a href="https://snyk.io/wp-content/uploads/snyk-javascript_report_2019.pdf" class="hero-bun">Book</a>
        <a href="https://courses.cs.duke.edu/compsci290/spring21/readings/What_is_Node.js_InfoWorld.pdf" class="hero-bun">Book</a>
        <a href="https://www.w3cschool.cn/attachments/apifiles/javascript_cheat_sheet.pdf" class="hero-bun">Book</a>
        <a href="https://owasp.org/www-pdf-archive/ESAPI4JS-Marcus.Niemietz.pdf" class="hero-bun">Book</a>
        <a href="https://www.webstepbook.com/supplements/slides/ch07-javascript.pdf" class="hero-bun">Book</a>
      </section>
      </body>
</html>
