
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Contact-owner</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
        <style>
            body {
              background-image: url("images/bg7.gif");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
    </head>
    <body>
      <div class="back">
        <a href="./index.html" class="hero-bin">Go Back</a>
      </div>
      <section class="text-box">
        <a href="https://en.wikipedia.org/wiki/Mars" class="hero-bun">Book</a>
        <a href="https://mars.nasa.gov/files/mars2020/Mars2020_Fact_Sheet.pdf" class="hero-bun">Book</a>
        <a href="https://www.jpl.nasa.gov/news/press_kits/mars_2020/download/mars_2020_launch_press_kit.pdf" class="hero-bun">Book</a>
        <a href="https://www.isro.gov.in/sites/default/files/article-files/node/8052/Mars-atlas-MOM.pdf" class="hero-bun">Book</a>
        <a href="https://sci.esa.int/science-e/www/object/doc.cfm?fobjectid=36698" class="hero-bun">Book</a>
        <a href="https://www.lpi.usra.edu/education/IYPT/Mars.pdf" class="hero-bun">Book</a>
        <a href="https://www.hou.usra.edu/meetings/V2050/pdf/8250.pdf" class="hero-bun">Book</a>
        <a href="https://www.tandfonline.com/doi/pdf/10.1179/030801802225002881" class="hero-bun">Book</a>
        <a href="https://depts.washington.edu/astron/old_port/TJO/newsletter/spr-2016/xinyu.pdf" class="hero-bun">Book</a>
        <a href="https://agupubs.onlinelibrary.wiley.com/doi/pdf/10.1029/RG027i002p00189" class="hero-bun">Book</a>
        <a href="https://iopscience.iop.org/article/10.1088/1742-6596/301/1/012006/pdf" class="hero-bun">Book</a>
        <a href="https://lasp.colorado.edu/home/mop/files/2019/08/Humans-Will-Never-Colonize-Mars.pdf" class="hero-bun">Book</a>
        <a href="https://royalsocietypublishing.org/doi/pdf/10.1098/rsta.2011.0500" class="hero-bun">Book</a>
        <a href="https://www.ill.eu/fileadmin/user_upload/ILL/3_Users/Scientific_groups/Diffraction/Home/mars.pdf" class="hero-bun">Book</a>
        <a href="https://arxiv.org/pdf/0811.2700" class="hero-bun">Book</a>
        <a href="https://www.sciencedirect.com/science/article/pii/S1875389212025096/pdf?md5=ce1d7e5b98ffb4441d95bea86549b7c8&pid=1-s2.0-S1875389212025096-main.pdf&_valck=1" class="hero-bun">Book</a>
        <a href="https://www.europhysicsnews.org/articles/epn/pdf/2018/03/epn2018493p15.pdf" class="hero-bun">Book</a>
        <a href="https://industeel.arcelormittal.com/fichier/ds-protection-mars-600-en-2021/" class="hero-bun">Book</a>
        <a href="https://www.aanda.org/articles/aa/pdf/2021/06/aa40030-20.pdf" class="hero-bun">Book</a>
        <a href="https://www.jstor.org/stable/43311109?mag=should-we-go-to-mars-carl-sagan-had-thoughts" class="hero-bun">Book</a>
        <a href="https://www.acs.org/content/dam/acsorg/education/whatischemistry/landmarks/lesson-plans/mars-infrared-spectrometer/mars-infrared-spectrometer-lesson.pdf" class="hero-bun">Book</a>
        <a href="https://learnenglish.britishcouncil.org/sites/podcasts/files/LearnEnglish-Reading-C1-Life-on-Mars.pdf" class="hero-bun">Book</a>
        <a href="https://www.census.gov/history/pdf/mars_as_the_abode_of_life.pdf" class="hero-bun">Book</a>
        <a href="https://www.ccusd93.org/cms/lib/AZ02204140/Centricity/Domain/1109/Seven%20Reasons%20for%20Colonizing%20Mars.pdf" class="hero-bun">Book</a>
        <a href="https://pubs.usgs.gov/imap/i2782/i2782_sh1.pdf" class="hero-bun">Book</a>
        <a href="https://www.ifa.hawaii.edu/~meech/a281/handouts/McKay_astrobio01.pdf" class="hero-bun">Book</a>
        <a href="http://calteches.library.caltech.edu/160/1/mars.pdf" class="hero-bun">Book</a>
        <a href="https://www.epj-conferences.org/articles/epjconf/pdf/2009/01/epjconf1020.pdf" class="hero-bun">Book</a>
        <a href="http://www.mars.asu.edu/christensen/classdocs/Driebus_VolatilesonEarthandMars_icarus_87.pdf" class="hero-bun">Book</a>
        <a href="https://engineering.purdue.edu/AAE/research/Groups/longuski/Software/NOMAD/Papers/ComparativeAssessment.pdf" class="hero-bun">Book</a>
        <a href="https://www.mdpi.com/1424-8220/21/7/2519/pdf" class="hero-bun">Book</a>
        <a href="https://www.americangeosciences.org/sites/default/files/education-nasatriad-Mars_Exploration_Debate.pdf" class="hero-bun">Book</a>
        <a href="http://www-geodyn.mit.edu/aharonson_ip.pdf" class="hero-bun">Book</a>
        <a href="https://www.onesubsea.slb.com/-/media/onesubsea/files/brochure/oss-mars-br.ashx" class="hero-bun">Book</a>
        <a href="https://stip.oecd.org/assets/MOIP/CaseStudies/CS2.pdf" class="hero-bun">Book</a>
        <a href="https://www.fossanalytics.com/-/media/files/documents/brochuresanddatasheets/products/milkoscan-mars/milkoscanmars_solution_brochure_gb.pdf" class="hero-bun">Book</a>
        <a href="https://www.led-linear.com/products?tx_led_product%5Baction%5D=download&tx_led_product%5Bcontroller%5D=Product&tx_led_product%5Bdownloads%5D%5Bactions%5D%5B0%5D=datasheet&tx_led_product%5Bfamily%5D=35&tx_led_product%5BlightSource%5D=1&tx_led_product%5Bproduct%5D=410&U=0&cHash=79113ff113585e0caf10ae600dde1ec6" class="hero-bun">Book</a>
        <a href="http://lunar.earth.northwestern.edu/courses/438/barlow.pdf" class="hero-bun">Book</a>
        <a href="https://www.annualreviews.org/doi/pdf/10.1146/annurev.ea.15.050187.001131" class="hero-bun">Book</a>
        <a href="https://www.startwithabook.org/sites/default/files/mars-sand.pdf" class="hero-bun">Book</a>
        <a href="https://www.ida.org/-/media/feature/publications/e/ev/evaluation-of-a-human-mission-to-mars-by-2033/d-10510.ashx" class="hero-bun">Book</a>
        <a href="https://www.geenergyconsulting.com/content/dam/Energy_Consulting/global/en_US/pdfs/GE_MARS_Reliability_Modeling_Software_2018_1.pdf" class="hero-bun">Book</a>
        <a href="https://spacecraft.ssl.umd.edu/design_lib/ICES01-2138.Mars_09_rover.pdf" class="hero-bun">Book</a>
        <a href="https://uaf.edu/museum/education/educators/heliophysics-aurora-outre/activities/pdfs/Pack-a-Box-for-Mars.pdf" class="hero-bun">Book</a>
        <a href="https://www.hathernprimary.org/uploads/2/6/8/1/26814385/red_planet_comprehension.pdf" class="hero-bun">Book</a>
        <a href="https://www.pnas.org/content/pnas/98/4/2107.full.pdf" class="hero-bun">Book</a>
        <a href="https://www.ucl.ac.uk/steapp/sites/steapp/files/emirates_mars_mission_report.pdf" class="hero-bun">Book</a>
        <a href="https://d2pn8kiwq2w21t.cloudfront.net/documents/mars-science-laboratory.pdf" class="hero-bun">Book</a>
        <a href="http://www.hmns.org/wp-content/uploads/2020/09/Growing-Crops-in-Mars-Soil-Simulant-Final-report.pdf" class="hero-bun">Book</a>
        <a href="https://www.elsevier.com/__data/assets/pdf_file/0003/271092/ch0114.pdf" class="hero-bun">Book</a>
        <a href="https://www.clcnwi.com/file_download/inline/544e3950-64cb-43d1-a7aa-e102017c85fc" class="hero-bun">Book</a>
        <a href="https://www.labogene.com/getfile.aspx?f=61567" class="hero-bun">Book</a>
        <a href="https://digital.csic.es/bitstream/10261/36075/1/Raman_Spectroscopy_Europe.pdf" class="hero-bun">Book</a>
        <a href="https://www.multivu.com/players/English/7520951-uae-mission-to-mars/links/7520951-Details-Emirates-Mars-Mission.pdf" class="hero-bun">Book</a>
        <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.35.6084&rep=rep1&type=pdf" class="hero-bun">Book</a>
        <a href="https://scholarworks.wm.edu/cgi/viewcontent.cgi?article=6537&context=etd" class="hero-bun">Book</a>
        <a href="https://wmich.edu/sites/default/files/attachments/u58/2015/MARS.pdf" class="hero-bun">Book</a>
        <a href="http://www.issibern.ch/PDF-Files/Spatium_5.pdf" class="hero-bun">Book</a>
        <a href="https://www.intel.com/content/dam/www/central-libraries/us/en/documents/alibaba-cloud-optane-pmem-mars-white-paper.pdf" class="hero-bun">Book</a>
        <a href="https://clinicaltrials.gov/ProvidedDocs/08/NCT04530708/Prot_000.pdf" class="hero-bun">Book</a>
        <a href="https://repository.si.edu/bitstream/handle/10088/3254/199305.pdf?isAllowed=y&sequence=1" class="hero-bun">Book</a>
        <a href="https://www.awe.gov.au/sites/default/files/sitecollectiondocuments/mars-shipping-user-guide.pdf" class="hero-bun">Book</a>
        <a href="https://faculty.tamuc.edu/cdavis/resources/AESP/InstructionalMaterials/Destination%20Mars%20-%20Activity%20Packet.pdf" class="hero-bun">Book</a>
        <a href="http://home.iitj.ac.in/~saurabh.heda/Papers/Research%20Papers/1988/RTOS%20of%20MARS.pdf" class="hero-bun">Book</a>
        <a href="https://www.isu.edu/media/libraries/college-of-education/professional-development/mars-exploration-activities/What_on_Mars_Teacher.pdf" class="hero-bun">Book</a>
        <a href="https://www.nature.com/articles/s41598-020-80463-2.pdf?origin=ppub" class="hero-bun">Book</a>
        <a href="https://www.maxongroup.com/medias/sys_master/root/8869796675614/2021-2-PR-en-Mars2020-landing.pdf?attachment=true" class="hero-bun">Book</a>
        <a href="https://trustedcomputinggroup.org/wp-content/uploads/TCG_UseCases_MARS_v1p0_r27_pub.pdf" class="hero-bun">Book</a>
        <a href="https://mdoe.state.mi.us/gems/userdata/LinkedFiles/Activate__Assign_Users_GEMS-MARS_456992_7.pdf" class="hero-bun">Book</a>
        <a href="https://www.ulalaunch.com/docs/default-source/launch-booklets/mars2020_mobrochure_200717.pdf" class="hero-bun">Book</a>
        <a href="https://www.indiamart.com/mars-cosmetics-delhi/mars-cosmetics.pdf" class="hero-bun">Book</a>
        <a href="https://astrosociety.org/file_download/inline/519bf636-df89-4993-957d-581067ae1362" class="hero-bun">Book</a>
        <a href="https://www.kth.se/polopoly_fs/1.1024128.1603898940!/RED%20TEAM%20Propulsion%20final.pdf" class="hero-bun">Book</a>
        <a href="https://www.lsop.colostate.edu/wp-content/uploads/sites/6/2014/10/SunburnOnMars.pdf" class="hero-bun">Book</a>
        <a href="https://mars.rdc.noaa.gov/docs/reference/BusinessUserGuide.pdf" class="hero-bun">Book</a>
        <a href="http://courseweb.glendale.edu/ppal/Word%20files/Earth,%20Venus%20and%20Mars.pdf" class="hero-bun">Book</a>
        <a href="https://ras.ac.uk/sites/default/files/2018-06/Mars_Earth_craters_streams.pdf" class="hero-bun">Book</a>
        <a href="https://escholarship.org/content/qt6zg2x2d8/qt6zg2x2d8_noSplash_340949cd6c5774667321926f9e5195d7.pdf" class="hero-bun">Book</a>
        <a href="http://www-mars.lmd.jussieu.fr/mars/info_web/user_manual_5.2.pdf" class="hero-bun">Book</a>
        <a href="https://mtd.mars.com/Assets/An%20Associates%20Guide%20to%20the%20Essence%20of%20Mars.pdf" class="hero-bun">Book</a>
        <a href="https://www.scoe.org/files/mars-grade7.pdf" class="hero-bun">Book</a>
        <a href="http://www.astronomy.ohio-state.edu/~pogge/Ast141/Unit4/Lect26_Mars.pdf" class="hero-bun">Book</a>
        <a href="https://brightongirls.gdst.net/wp-content/uploads/2021/03/Mars-Problems-and-solutions.pdf" class="hero-bun">Book</a>
        <a href="https://progearthplanetsci.springeropen.com/track/pdf/10.1186/s40645-017-0139-4.pdf" class="hero-bun">Book</a>
        <a href="https://www.nationalgeographic.com/pdf/books/pdfs/Welcome-to-Mars-Ed-Guide.pdf" class="hero-bun">Book</a>
        <a href="https://hal.archives-ouvertes.fr/hal-02873039/document" class="hero-bun">Book</a>
        <a href="https://www.cse.ust.hk/gpuqp/Mars_tr.pdf" class="hero-bun">Book</a>
        <a href="https://tc18.tableau.com/sites/default/files/session/assets/18BC-068_Mars%27%20self-service%20analytics%20in%20a%20global%20enterprise%20success%20story.pdf" class="hero-bun">Book</a>
        <a href="https://www.ri.cmu.edu/pub_files/pub4/matthies_larry_2007_1/matthies_larry_2007_1.pdf" class="hero-bun">Book</a>
        <a href="https://netcom.army.mil/MARS/files/AR%20MARS%20Form%201%20v2.2%20Individual%20and%20Club.pdf" class="hero-bun">Book</a>
        <a href="http://www.mars-project.eu/files/download/recommendations/MARS_Recommendations.pdf" class="hero-bun">Book</a>
        <a href="https://www.marsdd.com/wp-content/uploads/2019/03/MaRS_Impact_Report_2018.pdf" class="hero-bun">Book</a>
        <a href="https://www.aaai.org/ocs/index.php/AAAI/AAAI18/paper/viewPDFInterstitial/16040/16400" class="hero-bun">Book</a>
        <a href="https://www.cms.gov/CCIIO/Resources/Regulations-and-Guidance/Downloads/3-MARS-E-v2-0-Catalog-of-Security-and-Privacy-Controls-11102015.pdf" class="hero-bun">Book</a>
        <a href="https://atmos.nmsu.edu/data_and_services/atmospheres_data/MAVEN/Mission%20and%20spacecraft%20description.pdf" class="hero-bun">Book</a>
        <a href="https://www.uta.edu/business-affairs/training/files/business-apps/MARS/mars-training-guide.pdf" class="hero-bun">Book</a>
        <a href="https://scholarship.depauw.edu/cgi/viewcontent.cgi?article=1028&context=studentresearch" class="hero-bun">Book</a>
        <a href="https://geology.rutgers.edu/images/stories/undergrad/course_synopsis_syllabus/01-460-222-Planet_Mars-Lunning.pdf" class="hero-bun">Book</a>
        <a href="https://www.geo.fu-berlin.de/geol/fachrichtungen/planet/projects/marsexpress/_layout/special_brochure.pdf" class="hero-bun">Book</a>
        <a href="https://umu.diva-portal.org/smash/get/diva2:1157328/FULLTEXT01.pdf" class="hero-bun">Book</a>
      </section>
      </body>
</html>
