
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Contact-owner</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
        <style>
            body {
              background-image: url("images/bg7.gif");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
    </head>
    <body>
      <div class="back">
        <a href="./index.html" class="hero-bin">Go Back</a>
      </div>
      <section class="text-box">
        <a href="programminallinone.html" class="hero-bin">All in one</a>
        <a href="c++.html" class="hero-bin">C++</a>
        <a href="c.html" class="hero-bin">C</a>
        <a href="java.html" class="hero-bin">java</a>
        <a href="php.html" class="hero-bin">php</a>
        <a href="javascript.html" class="hero-bin">javascript</a>
        <a href="ruby.html" class="hero-bin">ruby</a>
        <a href="html.html" class="hero-bin">html</a>
        <a href="sql programming language.html" class="hero-bin">sql</a>
        <a href="swift.html" class="hero-bin">swift</a>
      </section>
      </body>
</html>
