
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Contact-owner</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
        <style>
            body {
              background-image: url("images/bg7.gif");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
    </head>
    <body>
      <div class="back">
        <a href="./index.html" class="hero-bin">Go Back</a>
      </div>
      <section class="text-box">
        <a href="https://chartio.com/docs/visual-sql/start-a-query/sql-mode/" class="hero-bun">Book</a>
        <a href="https://en.wikipedia.org/wiki/SQL" class="hero-bun">Book</a>
        <a href="https://www.ibm.com/docs/el/ssw_ibm_i_71/sqlp/rbafy.pdf" class="hero-bun">Book</a>
        <a href="https://www.halvorsen.blog/documents/tutorials/resources/Structured%20Query%20Language.pdf" class="hero-bun">Book</a>
        <a href="https://www.hcoe.edu.np/uploads/attachments/r96oytechsacgzi4.pdf" class="hero-bun">Book</a>
        <a href="http://www.upriss.org.uk/db/slides/8phpmysql.pdf" class="hero-bun">Book</a>
        <a href="https://home.adelphi.edu/~siegfried/cs443/443l11.pdf" class="hero-bun">Book</a>
        <a href="https://ncert.nic.in/textbook/pdf/keip108.pdf" class="hero-bun">Book</a>
        <a href="https://www.tutorialspoint.com/sql/sql_tutorial.pdf" class="hero-bun">Book</a>
        <a href="http://blackrockx.com/cgi-bin/content/view.php?data=sql_database_programming&filetype=pdf&id=fa8536c9b0812e3bf345dd31b061e611" class="hero-bun">Book</a>
        <a href="https://s3-ap-southeast-1.amazonaws.com/tv-prod/documents%2F4426-sql.pdf" class="hero-bun">Book</a>
        <a href="https://course.ccs.neu.edu/cs3200f20s2/ssl/lectures/lecture_13_sql_programming.pdf" class="hero-bun">Book</a>
        <a href="https://documen.site/download/ch13-9_pdf" class="hero-bun">Book</a>
        <a href="https://www.stat.berkeley.edu/~spector/sql.pdf" class="hero-bun">Book</a>
        <a href="http://www.oracle.com/technetwork/database/features/plsql/overview/urman-sample-132785.pdf" class="hero-bun">Book</a>
        <a href="http://infolab.stanford.edu/~ullman/fcdb/spr99/lec10.pdf" class="hero-bun">Book</a>
        <a href="https://www2.cs.science.cmu.ac.th/courses/204222/lib/exe/fetch.php?media=ch13_sqlprogramming.pdf" class="hero-bun">Book</a>
        <a href="https://www.cs.duke.edu/courses/fall19/compsci316/lectures/10-sql-prog.pdf" class="hero-bun">Book</a>
        <a href="http://index-of.co.uk/Database/Oracle%20Database/Oracle%20PL-SQL%20Programming,%206th%20Edition.pdf" class="hero-bun">Book</a>
        <a href="https://www.doc-developpement-durable.org/file/Projets-informatiques/cours-&-manuels-informatiques/Sql/SQL-%20A%20Beginner's%20Guide,%203rd%20Edition.pdf" class="hero-bun">Book</a>
        <a href="https://www.lexjansen.com/nesug/nesug08/bb/bb04.pdf" class="hero-bun">Book</a>
        <a href="http://www.cs.rochester.edu/courses/261/spring2018/lectures/l2.pdf" class="hero-bun">Book</a>
        <a href="https://support.sas.com/resources/papers/proceedings/proceedings/sugi22/ADVTUTOR/PAPER35.PDF" class="hero-bun">Book</a>
        <a href="https://www.vrsiddhartha.ac.in/wp-content/uploads/2021/02/One-Week-FDP-on-Oracle-Programming-Using-PLSQL.pdf" class="hero-bun">Book</a>
        <a href="https://www.gndec.ac.in/downloads/software/sql.pdf" class="hero-bun">Book</a>
        <a href="https://web.longwill.bham.sch.uk/m/content/C3U1N4/sql-programming-database-management-for-absolute-beginners-sql-server-structured-query-language-fundamentals-learn-by-doing-approach-and-master-sql_pdf" class="hero-bun">Book</a>
        <a href="https://orhs.eduhsd.k12.ca.us/documents/Computer%20Science/DBSQL%20Brochure.pdf" class="hero-bun">Book</a>
        <a href="https://www.treca.org/furn./margin/oracle_11g_pl_sql_programming_book_by_joan_casteel_2_pdf" class="hero-bun">Book</a>
        <a href="http://users.dimi.uniud.it/~angelo.montanari/ch5Silberschatz.pdf" class="hero-bun">Book</a>
        <a href="http://www.odbms.org/wp-content/uploads/2006/10/010.03-Cook-Integrating-Programming-Languages-and-Databases_What-is-the-Problem-September-2006.pdf" class="hero-bun">Book</a>
        <a href="http://www.unife.it/ing/lm.infoauto/sistemi-informativi/allegati/06-SQL_in_programming_languages.pdf" class="hero-bun">Book</a>
        <a href="https://forum.bettercare.co.za/r/book/Y4E2J9/sql-pl-the-programming-language-of-oracle-ivan-bayross_pdf" class="hero-bun">Book</a>
        <a href="https://geeks4learning-elearning.com/mod/resource/view.php?id=10616" class="hero-bun">Book</a>
        <a href="http://teleport.weview.io/upload/read.php?article=pdf%20file%20for%20sql%20pl%20sql%20programming%20language%20of%20oracle%20ebook%20by%20ivan%20bayross%20pdf&encrypt=f0f7cece18846993f3094abfbc835858" class="hero-bun">Book</a>
        <a href="https://www.itacademytn.com/courses/t925.pdf" class="hero-bun">Book</a>
        <a href="http://www.dhsgsu.edu.in/images/Reading-Material/7-gaurav-pl_sql_basics_intro.pdf" class="hero-bun">Book</a>
        <a href="https://asmodeus.pwnsquad.net/collection-7/SQL%20-%20Felix%20Alvaro.pdf" class="hero-bun">Book</a>
        <a href="https://arxiv.org/pdf/1701.00631" class="hero-bun">Book</a>
        <a href="https://ccelms.ap.gov.in/adminassets/docs/23102020143029-E-TEXT-001.pdf" class="hero-bun">Book</a>
        <a href="http://www.dcs.bbk.ac.uk/~ptw/teaching/DBM/sql-programming.pdf" class="hero-bun">Book</a>
        <a href="https://www.tcetmumbai.in/IT/Bridge%20Course%20on%20%20PL%20SQL%201.pdf" class="hero-bun">Book</a>
        <a href="http://mobile.dispatch.com/cgi-bin/content/view.php?data=ibm_i_sql_programming&filetype=pdf&id=57cf7b478ef33841fac6d5dfbc4f0e06" class="hero-bun">Book</a>
        <a href="http://www.nyu.edu/classes/jcf/CSCI-GA.2433-001_sp16/slides/session6/StandardQueryLanguage(SQL)Features.pdf" class="hero-bun">Book</a>
        <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.184.7125&rep=rep1&type=pdf" class="hero-bun">Book</a>
        <a href="https://www.cs.utexas.edu/~wcook/Drafts/2005/PLDBProblem.pdf" class="hero-bun">Book</a>
        <a href="http://www6.uniovi.es/oracle/sftop20.pdf" class="hero-bun">Book</a>
        <a href="http://mail.katurimedicalcollege.org/jadoo/justify/source.php?key=sql+the+ultimate+beginners+guide+to+learning+sql+programming+with+hands+on+projects&code=8e12e9f0a5efc0f21cd59d45241eca29" class="hero-bun">Book</a>
        <a href="https://www.nobledesktop.com/outlines/sql-level-i-syllabus.pdf" class="hero-bun">Book</a>
        <a href="https://www.db-book.com/db6/practice-exer-dir/5s.pdf" class="hero-bun">Book</a>
        <a href="https://cs.uwaterloo.ca/~tozsu/courses/CS338/lectures/4%20Basic%20SQL.pdf" class="hero-bun">Book</a>
        <a href="https://ytuce.maliayas.com/files/9992663e-08a_DBProgMe.pdf" class="hero-bun">Book</a>
        <a href="https://www.cs.purdue.edu/homes/bb/cs448_Fall2017/lpdf/Chapter10.pdf" class="hero-bun">Book</a>
        <a href="http://db-event.jpn.org/deim2012/proceedings/final-pdf/d2-5.pdf" class="hero-bun">Book</a>
        <a href="http://cs.uok.edu.in/Files/79755f07-9550-4aeb-bd6f-5d802d56b46d/Custom/PLSQL.pdf" class="hero-bun">Book</a>
        <a href="http://faculty.cord.edu/kamel/12F-330/Presentations/ch13.pdf" class="hero-bun">Book</a>
        <a href="http://www.mathcs.emory.edu/~cheung/Courses/377/Others/tutorial.pdf" class="hero-bun">Book</a>
        <a href="https://sigmodrecord.org/publications/sigmodRecord/9912/standards.pdf.gz" class="hero-bun">Book</a>
        <a href="https://cse.hkust.edu.hk/faculty/scc/publ/CODAS99.pdf" class="hero-bun">Book</a>
        <a href="https://silo.tips/download/embedded-sql-programming" class="hero-bun">Book</a>
        <a href="https://dl.acm.org/doi/pdf/10.5555/1734797.1734830" class="hero-bun">Book</a>
        <a href="http://www.pllab.riec.tohoku.ac.jp/papers/icfp2011OhoriUenoAuthorVersion.pdf" class="hero-bun">Book</a>
        <a href="http://www.vldb.org/pvldb/vol11/p27-guagliardo.pdf" class="hero-bun">Book</a>
        <a href="https://nptel.ac.in/content/storage2/courses/downloads/106105175/Assignment-4_noc18_cs36_104.pdf" class="hero-bun">Book</a>
        <a href="http://cccapp.unap.edu.pe/file/reading.php?article=sql-database-programming&encrypt=532ec1193233ef1634e211aee43cf811" class="hero-bun">Book</a>
        <a href="https://help.sap.com/doc/9457f880abbe4bc8bebc18109daae0ca/17.0/en-US/SQL-Anywhere-Server-Programming-en.pdf" class="hero-bun">Book</a>
        <a href="http://www.cbcb.umd.edu/confcour/Spring2011/CMSC424/DB_program_access.pdf" class="hero-bun">Book</a>
        <a href="http://www.cs.man.ac.uk/~horrocks/Teaching/cs2312/Lectures/Handouts/jdbc.pdf" class="hero-bun">Book</a>
        <a href="http://www.idc-online.com/technical_references/pdfs/information_technology/DBMS_Languages.pdf" class="hero-bun">Book</a>
        <a href="http://www.inf.ed.ac.uk/teaching/courses/apl/2008-2009/slides/apl10.pdf" class="hero-bun">Book</a>
        <a href="http://www1.udel.edu/fth/itaw/ch12" class="hero-bun">Book</a>
        <a href="https://nanopdf.com/download/sql-in-programming-languages_pdf" class="hero-bun">Book</a>
        <a href="https://lnu.diva-portal.org/smash/get/diva2:204828/FULLTEXT01.pdf" class="hero-bun">Book</a>
        <a href="http://www.inf.fu-berlin.de/lehre/SS10/DBS-Intro/Folien/dbs10-09-Embedded-1-1.pdf" class="hero-bun">Book</a>
        <a href="http://stmaryscollegevidisha.edu.in/userfiles/Download/05d86a4b-c2d1-4f3c-b4b0-33619d92ded8/Pl_sql__notes_amit.pdf" class="hero-bun">Book</a>
        <a href="https://www.cccc.edu/curriculum/guides/C25590DP.pdf" class="hero-bun">Book</a>
        <a href="https://software.imdea.org/~dania/papers/models2017.pdf" class="hero-bun">Book</a>
        <a href="https://enjoy.cleanplates.com/deerhost/file-share/oracle_database_10g_pl_sql_programming_janouk_pdf" class="hero-bun">Book</a>
        <a href="https://ieeexplore.ieee.org/iel5/5743112/5743116/05743224.pdf" class="hero-bun">Book</a>
        <a href="https://sector7.com/s7/Reference/VMS_Manuals/Oracle_RDB_SQLMOD_Reference_Manual.pdf" class="hero-bun">Book</a>
        <a href="http://0d1.cn/dbs/books/SQL%20Server/Rampant.TechPress.Advanced.SQL.Database.Programmer.Handbook.eBook-DDU.pdf" class="hero-bun">Book</a>
        <a href="https://www.jaist.ac.jp/~mizuhito/masterthesis/Pakakorn.pdf" class="hero-bun">Book</a>
        <a href="http://cis.csuohio.edu/~sschung/IST331/Coronel_PPT_Ch08.pdf" class="hero-bun">Book</a>
        <a href="http://www.lkouniv.ac.in/site/writereaddata/siteContent/202003291621085101sanjeev_rdbms_unit-III_pl-sql_bba_ms_4_sem.pdf" class="hero-bun">Book</a>
        <a href="https://zenodo.org/record/1340408/files/10009305.pdf" class="hero-bun">Book</a>
        <a href="https://www.dbit.ac.in/cse/syllabus/data-base-management-system-lab.pdf" class="hero-bun">Book</a>
        <a href="https://www.orsys-training.lu/Content/programmes/pdf/PSQ1.pdf" class="hero-bun">Book</a>
        <a href="https://snscourseware.org/snsrcas/files/CW_5d2ede54141ff/UNIT%204%20rdbms.pdf" class="hero-bun">Book</a>
        <a href="https://cdn.ttgtmedia.com/searchOracle/downloads/PLSQL_Basics.pdf" class="hero-bun">Book</a>
        <a href="http://kamarajcollege.ac.in/Department/BCA/II%20Year/007%20Skill%20Based%20Core%201%20-%20Programming%20with%20PHP%20and%20SQL%20-%20III%20Sem.pdf" class="hero-bun">Book</a>
        <a href="https://do.activ-job.com/solution/prepare/code_centric_t_sql_programming_with_stored_procedures_and_triggers_pdf" class="hero-bun">Book</a>
        <a href="http://avisos.prospera.gob.mx/cgi-bin/content/view.php?data=sql_simplified_sql_programming_database_management_for_beginners_your_step_by_step_guide_to_learning_the_sql_database_simplified_programming_sql&filetype=pdf&id=575659ba98e8d3313fad721763dde38f" class="hero-bun">Book</a>
        <a href="https://people.cs.umu.se/hegner/Courses/TDBD15/V11/All/01odbc_tdbd15_h.pdf" class="hero-bun">Book</a>
        <a href="https://filestore.aqa.org.uk/resources/computing/AQA-8525-TG-SQL.PDF" class="hero-bun">Book</a>
        <a href="https://anatomy.viz.lib.vt.edu/3b4go6swasya/14-roxanne-schoen-3/read-9781479351152-beginner-sql-programming-using-microsoft-sql-ser-2.pdf" class="hero-bun">Book</a>
        <a href="ftp://ftp.cs.toronto.edu/pub/bonner/papers/transaction.logic/dbpl97.pdf" class="hero-bun">Book</a>
        <a href="https://public.support.unisys.com/2200/docs/cp16.0/pdf/78308160-027.pdf" class="hero-bun">Book</a>
        <a href="http://cdn11.hiberus.com/reader/read.php?article=pdf+file+for+sql+pl+sql+programming+language+of+oracle+ebook+by+ivan+bayross+pdf&encrypt=c070527340a3a6cf8578d0146db0f4e1" class="hero-bun">Book</a>
        <a href="https://www2.cs.arizona.edu/~rts/initiatives/sql3/LHR009.pdf" class="hero-bun">Book</a>
        <a href="https://derbinsky.info/public/_custom/teaching/wit-sp16/comp2650/slides/lec_05_sql_programming.pdf" class="hero-bun">Book</a>
        <a href="https://www.utc.edu/document/71811" class="hero-bun">Book</a>
      </section>
      </body>
</html>
