
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>PDF</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
        <style>
            body {
              background-image: url("images/bg7.gif");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
    </head>
    <body>
      <div class="back">
        <a href="./index.html" class="hero-bin">Go Back</a>
      </div>
      <section class="text-box">
        <a href="https://unctad.org/system/files/official-document/tir2020_en.pdf" class="hero-bun">book</a>
        <a href="https://dst.gov.in/sites/default/files/TIASNprograame.pdf" class="hero-bun">book</a>
        <a href="https://www.wipo.int/ipstats/en/statistics/patents/pdf/wipo_ipc_technology.pdf" class="hero-bun">book</a>
        <a href="https://www.accenture.com/us-en/insights/technology/_acnmedia/Thought-Leadership-Assets/PDF-3/Accenture-Tech-Vision-2021-Full-Report.pdf" class="hero-bun">book</a>
        <a href="https://www.un.org/en/newtechnologies/images/pdf/SGs-Strategy-on-New-Technologies.pdf" class="hero-bun">book</a>
        <a href="https://unece.org/sites/default/files/2021-08/Nuclear%20power%20brief_EN_0.pdf" class="hero-bun">book</a>
        <a href="https://www.oecd.org/education/ceri/Booklet-21st-century-children.pdf" class="hero-bun">book</a>
        <a href="https://unfccc.int/ttclear/misc_/StaticFiles/gnwoerk_static/NAD_EBG/54b3b39e25b84f96aeada52180215ade/b8ce50e79b574690886602169f4f479b.pdf" class="hero-bun">book</a>
        <a href="https://unfccc.int/ttclear/misc_/StaticFiles/gnwoerk_static/TEM/0e7cc25f3f9843ccb98399df4d47e219/174ad939936746b6bfad76e30a324e78.pdf" class="hero-bun">book</a>
        <a href="https://www.meity.gov.in/writereaddata/files/Details_of_Technology_Incubation_and_Development_of_Entrepreneurs(TIDE)_Scheme_Rev.PDF" class="hero-bun">book</a>
        <a href="https://www.meity.gov.in/writereaddata/files/Intermediary_Guidelines_and_Digital_Media_Ethics_Code_Rules-2021.pdf" class="hero-bun">book</a>
        <a href="https://tech.ed.gov/files/2017/01/NETP17.pdf" class="hero-bun">book</a>
        <a href="https://nptel.ac.in/content/storage2/courses/downloads_new/109103121/Week7-Assignment-solution.pdf" class="hero-bun">book</a>
        <a href="https://nptel.ac.in/content/storage2/courses/downloads_new/109103121/Week8-Assignment-solution.pdf" class="hero-bun">book</a>
        <a href="https://www.iteea.org/86979.aspx" class="hero-bun">book</a>
        <a href="https://www.dni.gov/files/NCSC/documents/SafeguardingOurFuture/FINAL_NCSC_Emerging%20Technologies_Factsheet_10_22_2021.pdf" class="hero-bun">book</a>
        <a href="https://www.jstor.org/stable/249008" class="hero-bun">book</a>
        <a href="https://www.iitbhilai.ac.in/index.php?pid=act_1961" class="hero-bun">book</a>
        <a href="https://iopscience.iop.org/article/10.1088/1742-6596/1237/2/022082/pdf" class="hero-bun">book</a>
        <a href="https://www3.weforum.org/docs/Unlocking_Technology_for_the_Global_Goals.pdf" class="hero-bun">book</a>
        <a href="https://trumpwhitehouse.archives.gov/wp-content/uploads/2020/10/National-Strategy-for-CET.pdf" class="hero-bun">book</a>
        <a href="https://www.education.gov.in/shikshakparv/docs/Technology%20in%20NDEAR.pdf" class="hero-bun">book</a>
        <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/996470/Education_Technology__EdTech__Survey_2020-21__1_.pdf" class="hero-bun">book</a>
        <a href="https://www2.deloitte.com/content/dam/Deloitte/uk/Documents/finance/deloitte-uk-technology-and-people.pdf" class="hero-bun">book</a>
        <a href="http://www.csu.edu/humanresources/empdev/documents/ApplyingTechnology_000.pdf" class="hero-bun">book</a>
        <a href="https://www.cbse.gov.in/cbsenew/documents//Press_Note_CBSE_uses_BlockChain_Technology_english.pdf" class="hero-bun">book</a>
        <a href="https://unwsp.edu/uploads/Northwestern-Media/UNW-Technology-Usage-Policy.pdf" class="hero-bun">book</a>
        <a href="https://www.christiedigital.com/globalassets/resources/public/boldcolor-infographic.pdf" class="hero-bun">book</a>
        <a href="https://documents.westerndigital.com/content/dam/doc-library/en_us/assets/public/western-digital/collateral/tech-brief/tech-brief-reimagining-hdds-with-optinand-technology.pdf" class="hero-bun">book</a>
        <a href="https://www.bu.edu/isso/files/pdf/tal.pdf" class="hero-bun">book</a>
        <a href="https://www.ets.org/s/praxis/pdf/5051.pdf" class="hero-bun">book</a>
        <a href="https://www.sciencedirect.com/science/article/pii/S0148068581963739/pdf?md5=a4927b4f95002e3519888fb743f797e2&pid=1-s2.0-S0148068581963739-main.pdf" class="hero-bun">book</a>
        <a href="https://www.sciencedirect.com/science/article/pii/S1877042815031298/pdf?md5=0b5edaac08b006ccecb24a6b3ae31e41&pid=1-s2.0-S1877042815031298-main.pdf" class="hero-bun">book</a>
        <a href="https://www.industry.gov.au/sites/default/files/September%202020/document/first-low-emissions-technology-statement-2020.pdf" class="hero-bun">book</a>
        <a href="https://www.loc.gov/aba/cataloging/classification/lcco/lcco_t.pdf" class="hero-bun">book</a>
        <a href="https://www.asccc.org/sites/default/files/publications/TechMedInstru_0.pdf" class="hero-bun">book</a>
        <a href="https://www.nrel.gov/docs/gen/fy00/26970.pdf" class="hero-bun">book</a>
        <a href="https://royalsociety.org/-/media/policy/projects/digital-technology-and-the-planet/digital-technology-and-the-planet-report.pdf" class="hero-bun">book</a>
        <a href="https://research.ibm.com/downloads/ces_2021/IBMResearch_STO_2021_Whitepaper.pdf" class="hero-bun">book</a>
        <a href="https://tea.texas.gov/sites/default/files/techapp.pdf" class="hero-bun">book</a>
        <a href="https://www.belfercenter.org/sites/default/files/legacy/files/sciencetechnology.pdf" class="hero-bun">book</a>
        <a href="https://www.healthit.gov/sites/default/files/pdf/health-information-technology-fact-sheet.pdf" class="hero-bun">book</a>
        <a href="https://www.naeyc.org/files/naeyc/file/positions/ps_technology_web2.pdf" class="hero-bun">book</a>
        <a href="https://eprocure.gov.in/cppp/rulesandprocs/kbadqkdlcswfjdelrquehwuxcfmijmuixngudufgbuubgubfugbububjxcgfvsbdihbgfGhdfgFHytyhRtMjk4NzY=" class="hero-bun">book</a>
        <a href="https://onlinelibrary.wiley.com/doi/pdf/10.1111/joms.12215" class="hero-bun">book</a>
        <a href="https://psyarxiv.com/ft6am/download" class="hero-bun">book</a>
        <a href="https://www.ohchr.org/Documents/Issues/Business/B-Tech/introduction-ungp-age-technology.pdf" class="hero-bun">book</a>
        <a href="https://www.oracle.com/us/assets/lifetime-support-technology-069183.pdf" class="hero-bun">book</a>
        <a href="https://www.aicte-india.org/sites/default/files/NEAT.pdf" class="hero-bun">book</a>
        <a href="https://www.eolss.net/sample-chapters/C14/E1-34-06-01.pdf" class="hero-bun">book</a>
        <a href="https://web.iima.ac.in/users/anilg/files/Articles/Cine%20Class%20Presentation.pdf" class="hero-bun">book</a>
        <a href="https://www.tc.columbia.edu/cice/pdf/25719_6_1_EdIntro.pdf" class="hero-bun">book</a>
        <a href="https://link.springer.com/content/pdf/10.1007/978-1-4020-2353-8_1.pdf" class="hero-bun">book</a>
        <a href="https://education.ky.gov/curriculum/standards/kyacadstand/Documents/KAS_Technology.pdf" class="hero-bun">book</a>
        <a href="https://www.iata.org/contentassets/8d19e716636a47c184e7221c77563c93/technology20roadmap20to20205020no20foreword.pdf" class="hero-bun">book</a>
        <a href="https://www.txcte.org/sites/default/files/resources/documents/The-ABCs-of-Technology-Examples.pdf" class="hero-bun">book</a>
        <a href="https://www.cde.state.co.us/cdesped/accommodationsmanual_ccss_k12_techscope" class="hero-bun">book</a>
        <a href="https://sightandlife.org/wp-content/uploads/2017/07/SAL_WFP_RiceFort_LatinAm-Technology.pdf" class="hero-bun">book</a>
        <a href="https://sloanreview.mit.edu/wp-content/uploads/2014/12/b104172b57.pdf" class="hero-bun">book</a>
        <a href="https://www.pwc.com.au/pdf/essential-8-emerging-technologies-artificial-intelligence.pdf" class="hero-bun">book</a>
        <a href="https://www.who.int/medicines/areas/quality_safety/quality_assurance/TransferTechnologyPharmaceuticalManufacturingTRS961Annex7.pdf" class="hero-bun">book</a>
        <a href="https://www8.cao.go.jp/cstp/kihonkeikaku/5basicplan_en.pdf" class="hero-bun">book</a>
        <a href="https://www.tandfonline.com/doi/pdf/10.1080/07341518408581618" class="hero-bun">book</a>
        <a href="https://www.aicpa.org/content/dam/aicpa/interestareas/frc/assuranceadvisoryservices/downloadabledocuments/blockchain-technology-and-its-potential-impact-on-the-audit-and-assurance-profession.pdf" class="hero-bun">book</a>
        <a href="https://digitalcommons.macalester.edu/cgi/viewcontent.cgi?article=1411&context=macintl" class="hero-bun">book</a>
        <a href="https://cseweb.ucsd.edu/~wgg/smli_ps-1.pdf" class="hero-bun">book</a>
        <a href="https://cdac.in/index.aspx?id=pdf_ARCLib_mc_doc" class="hero-bun">book</a>
        <a href="http://geosci.uchicago.edu/~kite/doc/von_Neumann_1955.pdf" class="hero-bun">book</a>
        <a href="https://www.nasa.gov/pdf/458490main_TRL_Definitions.pdf" class="hero-bun">book</a>
        <a href="https://mib.gov.in/sites/default/files/IT%28Intermediary%20Guidelines%20and%20Digital%20Media%20Ethics%20Code%29%20Rules%2C%202021%20English.pdf" class="hero-bun">book</a>
        <a href="https://nma.org/wp-content/uploads/2016/08/Fact-Sheet-Clean-Coal-Technology.pdf" class="hero-bun">book</a>
        <a href="https://www.hhs.gov/sites/default/files/ocr/privacy/hipaa/understanding/coveredentities/hitechact.pdf" class="hero-bun">book</a>
        <a href="http://www.isecoeco.org/pdf/techlkin.pdf" class="hero-bun">book</a>
        <a href="https://www.tesol.org/docs/default-source/books/bk_technologystandards_framework_721.pdf?sfvrsn=4bd0bee6_2" class="hero-bun">book</a>
        <a href="http://www2.hawaii.edu/~freeman/courses/phil394/The%20Question%20Concerning%20Technology.pdf" class="hero-bun">book</a>
        <a href="https://www.annauniv.edu/cai/Affiliated%20Colleges%20list%20by%20Alphabetical/Affiliated%20Colleges%20-%20PDF%20Files/Sri%20Shakthi%20Institute%20of%20Engineering%20and%20Technology.pdf" class="hero-bun">book</a>
        <a href="https://www.oecd-ilibrary.org/how-is-technology-changing-demand-for-human-skills_5k9f97jwcp5g.pdf?itemId=%2Fcontent%2Fcomponent%2F9789264118539-3-en&mimeType=pdf" class="hero-bun">book</a>
        <a href="https://www.early-education.org.uk/sites/default/files/Young%20children%20and%20technology.pdf" class="hero-bun">book</a>
        <a href="https://www.itu.int/en/ITU-D/Cybersecurity/Documents/National_Strategies_Repository/China_2006.pdf" class="hero-bun">book</a>
        <a href="https://www.montgomeryschoolsmd.org/departments/techlit/docs/Definition%20of%20Technology%20Literacy.pdf" class="hero-bun">book</a>
        <a href="https://www.msci.com/documents/10199/69aaf9fd-d91d-4505-a877-4b1ad70ee855" class="hero-bun">book</a>
        <a href="http://www.wbnsou.ac.in/online_services/SLM/OTHER/Technology_and_Disability_C-15_U-3.pdf" class="hero-bun">book</a>
        <a href="https://education.gov.scot/Documents/Technologies-es-os.pdf" class="hero-bun">book</a>
        <a href="https://www.cisco.com/c/dam/en/us/solutions/collateral/enterprise-networks/cleanair-technology/aag_c22-594304.pdf" class="hero-bun">book</a>
        <a href="https://www.mas.gov.sg/-/media/MAS/Regulations-and-Financial-Stability/Regulatory-and-Supervisory-Framework/Risk-Management/TRM-Guidelines-18-January-2021.pdf" class="hero-bun">book</a>
        <a href="https://www.lacma.org/sites/default/files/techlab/2020-12/RFP_2021.pdf" class="hero-bun">book</a>
        <a href="https://egazette.nic.in/WriteReadData/2021/225464.pdf" class="hero-bun">book</a>
        <a href="https://www.nsf.gov/about/budget/fy2022/pdf/52_fy2022.pdf" class="hero-bun">book</a>
        <a href="https://nvlpubs.nist.gov/nistpubs/specialpublications/nist.sp.800-61r2.pdf" class="hero-bun">book</a>
        <a href="https://monoskop.org/images/4/44/Heidegger_Martin_The_Question_Concerning_Technology_and_Other_Essays.pdf" class="hero-bun">book</a>
        <a href="https://www.ofcom.org.uk/__data/assets/pdf_file/0011/211115/report-emerging-technologies.pdf" class="hero-bun">book</a>
        <a href="http://journals.sagepub.com/doi/pdf/10.1177/014920638401000308" class="hero-bun">book</a>
        <a href="https://media.defense.gov/2021/Apr/29/2002630479/-1/-1/1/CSA_STOP-MCA-AGAINST-OT_UOO13672321.PDF" class="hero-bun">book</a>
        <a href="https://www.comedk.org/wp-content/uploads/2021/11/cut-off-allotment.pdf" class="hero-bun">book</a>
        <a href="https://www.idpublications.org/wp-content/uploads/2015/08/Full-Paper-TECHNOLOGY-LEAPS-DEFINITION-AND-FRAMEWORK-FOR-ASSESSING.pdf" class="hero-bun">book</a>
        <a href="https://www.ema.europa.eu/en/documents/other/questions-answers-qualification-digital-technology-based-methodologies-support-approval-medicinal_en.pdf" class="hero-bun">book</a>
        <a href="http://www.astec.gov.in/ncsc/agb2020_2_at.pdf" class="hero-bun">book</a>
        <a href="https://humanrights.berkeley.edu/sites/default/files/publications/technology_solutions_for_advancing_human_rights_in_global_supply_chains_june_2019_0.pdf" class="hero-bun">book</a>
        <a href="https://www.fda.gov/media/130883/download" class="hero-bun">book</a>
        <a href="https://www.justice.gov/jmd/page/file/1141946/download" class="hero-bun">book</a>
      </section>
      </body>
</html>
