<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Contact-owner</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
        <style>
            body {
              background-image: url("images/bg7.gif");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
    </head>
    <body>
        <section class="header">
            <nav>
                <div class="nav-links">
                    <ul>
                        <li><a href="./index.html">Home🏡</a></li>
                        <li><a href="./about.html">About</a></li>
                        <li><a href="./update.html">Updates</a></li>
                    </ul>
                </div>
            </nav>
        </section>
        <section class="text-box">
            <div class="sections1">
                <h4>
                    => contact us here "asktoinosec@protonmail.com", let see what we can do for you
                </h4>
            </div>
            <div class="sections1">
                <h4>
                    => are next goal is to provide more content for you
                </h4>
            </div>
            <div class="sections1">
                <h4>
                    => uploading everything as possible
                </h4>
            </div>
            <div class="sections1">
                <h4>
                    => published a website
                </h4>
            </div>
            <div class="back">
                <a href="./index.html" class="hero-bun">Go Back</a>
            </div>
        </section>
    </body>
</html>
