
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Contact-owner</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
        <style>
            body {
              background-image: url("images/bg7.gif");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
    </head>
    <body>
      <div class="back">
        <a href="./index.html" class="hero-bin">Go Back</a>
      </div>
      <section class="text-box">
        <a href="https://en.wikipedia.org/wiki/C%2B%2B" class="hero-bun">Book</a>
        <a href="https://www.tutorialspoint.com/cplusplus/cpp_tutorial.pdf" class="hero-bun">Book</a>
        <a href="https://www.cplusplus.com/files/tutorial.pdf" class="hero-bun">Book</a>
        <a href="https://www.utdallas.edu/~veerasam/lectures/KG/AdvJava/basicsCC++1.pdf" class="hero-bun">Book</a>
        <a href="https://www.bu.edu/tech/files/2017/02/Introduction-to-C-Part-1.pdf" class="hero-bun">Book</a>
        <a href="https://www.bu.edu/tech/files/2018/06/Introduction-to-C-Part-1.pdf" class="hero-bun">Book</a>
        <a href="https://homes.cs.washington.edu/~tom/c++example/c++.pdf" class="hero-bun">Book</a>
        <a href="https://link.springer.com/content/pdf/bbm%3A978-0-387-69958-5%2F1.pdf" class="hero-bun">Book</a>
        <a href="https://www.cet.edu.in/noticefiles/285_OOPS%20lecture%20notes%20Complete.pdf" class="hero-bun">Book</a>
        <a href="https://www.mimuw.edu.pl/~mrp/cpp/SecretCPP/O'Reilly%20-%20Practical%20C++%20Programming.pdf" class="hero-bun">Book</a>
        <a href="http://www.lmpt.univ-tours.fr/~volkov/C++.pdf" class="hero-bun">Book</a>
        <a href="https://www.ibm.com/docs/SSGH3R_16.1.0/com.ibm.compilers.aix.doc/standlib.pdf" class="hero-bun">Book</a>
        <a href="https://isocpp.org/files/papers/N4860.pdf" class="hero-bun">Book</a>
        <a href="https://www.uio.no/studier/emner/matnat/fys/FYS3150/h07/undervisningsmateriale/Slides%20from%20Lectures/iv3830slides_1.pdf" class="hero-bun">Book</a>
        <a href="https://www.whitman.edu/mathematics/c++_online/c++.pdf" class="hero-bun">Book</a>
        <a href="https://resources.sei.cmu.edu/downloads/secure-coding/assets/sei-cert-cpp-coding-standard-2016-v01.pdf" class="hero-bun">Book</a>
        <a href="http://www.worldcolleges.info/sites/default/files/C%2B%2B_In_Action.pdf" class="hero-bun">Book</a>
        <a href="https://docs.nvidia.com/cuda/pdf/CUDA_C_Programming_Guide.pdf" class="hero-bun">Book</a>
        <a href="https://changkun.de/modern-cpp/pdf/modern-cpp-tutorial-en-us.pdf" class="hero-bun">Book</a>
        <a href="https://www.agner.org/optimize/optimizing_cpp.pdf" class="hero-bun">Book</a>
        <a href="http://vergil.chemistry.gatech.edu/resources/programming/pdf/TIC2Vone.pdf" class="hero-bun">Book</a>
        <a href="http://www.math.uaa.alaska.edu/~afkjm/csce211/handouts/C++Basics.pdf" class="hero-bun">Book</a>
        <a href="https://www.dvc.edu/academics/departments/computer-science/pdfs/UsingAppleXCode.pdf" class="hero-bun">Book</a>
        <a href="https://www.appinf.com/download/SafetyCriticalC++.pdf" class="hero-bun">Book</a>
        <a href="https://siiet.ac.in/wp-content/uploads/2020/02/C-LAB-MANUAL-II-CSE-I-SEM.pdf" class="hero-bun">Book</a>
        <a href="https://www.ctae.ac.in/images/editorFiles/file/Lab%20Solutions%20of%20CSE_IT/C++%20Lab%20Maual.pdf" class="hero-bun">Book</a>
        <a href="https://fac.ksu.edu.sa/sites/default/files/ObjectOrientedProgramminginC4thEdition.pdf" class="hero-bun">Book</a>
        <a href="https://personalpages.manchester.ac.uk/staff/Andrew.Hazel/EXCEL_C++.pdf" class="hero-bun">Book</a>
        <a href="https://www.pvpsiddhartha.ac.in/dep_it/lecture%20notes/oop/unit1.pdf" class="hero-bun">Book</a>
        <a href="https://www.autosar.org/fileadmin/user_upload/standards/adaptive/18-10/AUTOSAR_RS_CPP14Guidelines.pdf" class="hero-bun">Book</a>
        <a href="https://www.autosar.org/fileadmin/user_upload/standards/adaptive/17-03/AUTOSAR_RS_CPP14Guidelines.pdf" class="hero-bun">Book</a>
        <a href="http://www.lamsade.dauphine.fr/~mlampis/Cpp/lec3/slides3.pdf" class="hero-bun">Book</a>
        <a href="https://web.stanford.edu/class/archive/cs/cs106b/cs106b.1178/lectures/28-DifferentLanguages/code/handout.pdf" class="hero-bun">Book</a>
        <a href="https://www.ti.com/lit/pdf/spraa85" class="hero-bun">Book</a>
        <a href="https://nielit.gov.in/sites/default/files/Ranchi/160512_ProgrammingInCPlus.pdf" class="hero-bun">Book</a>
        <a href="https://cimec.org.ar/~mstorti/C/CURSOS/advc++3.pdf" class="hero-bun">Book</a>
        <a href="https://ijisrt.com/wp-content/uploads/2018/12/IJISRT18DC207.pdf" class="hero-bun">Book</a>
        <a href="http://media.techtarget.com/searchEnterpriseLinux/downloads/CH02_0672326817.pdf" class="hero-bun">Book</a>
        <a href="https://www.cl.cam.ac.uk/techreports/UCAM-CL-TR-947.pdf" class="hero-bun">Book</a>
        <a href="https://www.khronos.org/registry/OpenCL/specs/opencl-cplusplus-1.2.pdf" class="hero-bun">Book</a>
        <a href="https://www.osti.gov/servlets/purl/461375" class="hero-bun">Book</a>
        <a href="http://www.dre.vanderbilt.edu/~sutambe/documents/More%20C++%20Idioms.pdf" class="hero-bun">Book</a>
        <a href="https://www.gtu.ac.in/Syllabus/New_Diploma/sem-3/Pdf/3330702.pdf" class="hero-bun">Book</a>
        <a href="http://www.hoomanb.com/cs/QuickRef/CppQuickRef.pdf" class="hero-bun">Book</a>
        <a href="https://www.dauniv.ac.in/public/frontassets/coursematerial/embeddedsystems/Chap_7Lesson09Emsys3EC++.pdf" class="hero-bun">Book</a>
        <a href="https://msbrijuniversity.ac.in/assets/uploads/newsupdate/InheritanceinC++.pdf" class="hero-bun">Book</a>
        <a href="https://www.stroustrup.com/macis09.pdf" class="hero-bun">Book</a>
        <a href="https://www.stroustrup.com/hopl20main-p5-p-bfc9cd4--final.pdf" class="hero-bun">Book</a>
        <a href="https://www.cdac.in/index.aspx?id=edu_acts_Day2_Session3" class="hero-bun">Book</a>
        <a href="http://umich.edu/~eecs381/handouts/CppHeaderFileGuidelines.pdf" class="hero-bun">Book</a>
        <a href="https://www.cs.ccu.edu.tw/~damon/oop/,c++refcard.pdf" class="hero-bun">Book</a>
        <a href="https://nios.ac.in/media/documents/330srsec/online_course_material_330/Theory/Lesson_12.pdf" class="hero-bun">Book</a>
        <a href="https://docs.aws.amazon.com/sdk-for-cpp/v1/developer-guide/aws-sdk-cpp-dg.pdf" class="hero-bun">Book</a>
        <a href="https://www.fz-juelich.de/SharedDocs/Downloads/IAS/JSC/EN/slides/cplusplus/cplusplus.pdf?__blob=publicationFile" class="hero-bun">Book</a>
        <a href="https://people.cs.clemson.edu/~dhouse/courses/405/papers/optimize.pdf" class="hero-bun">Book</a>
        <a href="http://www.csun.edu/~lcaretto/me309/cPlusPlus.pdf" class="hero-bun">Book</a>
        <a href="https://downloads.mysql.com/docs/connector-cpp-1.1-en.pdf" class="hero-bun">Book</a>
        <a href="https://software.intel.com/content/dam/develop/external/us/en/documents/oneapi_dpcpp_cpp_compiler.pdf" class="hero-bun">Book</a>
        <a href="http://www.tulane.edu/~mpuljic/cpp/savitch/chapter01.pdf" class="hero-bun">Book</a>
        <a href="https://www.it.iitb.ac.in/frg/wiki/images/a/ae/Code_Block_tutorial_for_running_c++program.pdf" class="hero-bun">Book</a>
        <a href="https://www.cs.upc.edu/~jordicf/Teaching/programming/pdf/IP04_DataTypes_Visibility.pdf" class="hero-bun">Book</a>
        <a href="https://indico.cern.ch/event/294651/sessions/55930/attachments/552026/760652/C_ESIPAP.pdf" class="hero-bun">Book</a>
        <a href="https://docs.oracle.com/cd/E17952_01/connector-cpp-8.0-en/connector-cpp-8.0-en.pdf" class="hero-bun">Book</a>
        <a href="https://www.qa-systems.com/wp-content/uploads/2020/03/QA-C___Datasheet.pdf" class="hero-bun">Book</a>
        <a href="https://www.sctce.ac.in/faculty/facultylogin/Admin/Attachments/Upload/1548822344_1548822344.pdf" class="hero-bun">Book</a>
        <a href="http://courses.cs.vt.edu/~cs1044/Notes/C04.IO.pdf" class="hero-bun">Book</a>
        <a href="https://www.omg.org/spec/CPP/1.3/PDF" class="hero-bun">Book</a>
        <a href="http://www2.lauterbach.com/pdf/app_cpp_debugging.pdf" class="hero-bun">Book</a>
        <a href="https://tfetimes.com/wp-content/uploads/2015/09/CppEssentials.pdf" class="hero-bun">Book</a>
        <a href="https://moodle.ufsc.br/pluginfile.php/2377667/mod_resource/content/0/Effective_Modern_C__.pdf" class="hero-bun">Book</a>
        <a href="https://www.stemmer-imaging.com/media/uploads/software/sis/06/06-New-CVB-APis-Net-Phython-C-Andreas-Rittinger.pdf" class="hero-bun">Book</a>
        <a href="https://www.sciencedirect.com/science/article/pii/S1571066108003885/pdf?md5=1deb4f0d670508952de7dfd2e2004663&pid=1-s2.0-S1571066108003885-main.pdf" class="hero-bun">Book</a>
        <a href="http://nmfjc.edu.in/upload/bifo_syllabus/1533124749.pdf" class="hero-bun">Book</a>
        <a href="https://www.openmp.org/wp-content/uploads/cspec20.pdf" class="hero-bun">Book</a>
        <a href="https://www.greenteapress.com/thinkcpp/thinkCScpp.pdf" class="hero-bun">Book</a>
        <a href="https://www.brooklyn.cuny.edu/web/aca_naturalsciences_cis/STARTDev.pdf" class="hero-bun">Book</a>
        <a href="https://download.microsoft.com/download/4/0/E/40EA02D8-23A7-4BD2-AD3A-0BFFFB640F28/CppAMPLanguageAndProgrammingModel.pdf" class="hero-bun">Book</a>
        <a href="https://www3.nd.edu/~zxu2/acms60212-40212/C-MPI-PBS.pdf" class="hero-bun">Book</a>
        <a href="https://onlinelibrary.wiley.com/doi/pdf/10.1002/9781119421276.app1" class="hero-bun">Book</a>
        <a href="https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/pdf/developing_c_and_cpp_applications_in_rhel_8/Red_Hat_Enterprise_Linux-8-Developing_C_and_CPP_applications_in_RHEL_8-en-US.pdf" class="hero-bun">Book</a>
        <a href="https://www.blackhat.com/presentations/bh-dc-07/Sabanal_Yason/Paper/bh-dc-07-Sabanal_Yason-WP.pdf" class="hero-bun">Book</a>
        <a href="https://scholar.princeton.edu/sites/default/files/q-aps/files/slides_day3_am.pdf" class="hero-bun">Book</a>
        <a href="https://web.csulb.edu/~pnguyen/cecs282/lecnotes/functions.pdf" class="hero-bun">Book</a>
        <a href="https://imaginxp.com/wp-content/uploads/2021/02/C-courses-brochure-1.pdf" class="hero-bun">Book</a>
        <a href="https://www.rajagiritech.ac.in/Home/mech/Course_Content/Semester%20V/ME%20305%20Computer%20Programming%20and%20Numerical%20Methods/Module%202a.pdf" class="hero-bun">Book</a>
        <a href="https://www.nxp.com/docs/en/application-note/AN4220.pdf" class="hero-bun">Book</a>
        <a href="http://people.cs.georgetown.edu/~addison/files/help/editUsingNano.pdf" class="hero-bun">Book</a>
        <a href="https://sean-parent.stlab.cc/presentations/2013-09-11-cpp-seasoning/cpp-seasoning.pdf" class="hero-bun">Book</a>
        <a href="https://www.bogotobogo.com/cplusplus/files/CplusplusConcurrencyInAction_PracticalMultithreading.pdf" class="hero-bun">Book</a>
        <a href="http://www1.mans.edu.eg/facscim/english/ecourses/computerscience2/examplc1.pdf" class="hero-bun">Book</a>
        <a href="http://oms.bdu.ac.in/ec/admin/contents/73_16SCCCS2_2020051809542977.pdf" class="hero-bun">Book</a>
        <a href="https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.647.561&rep=rep1&type=pdf" class="hero-bun">Book</a>
        <a href="https://srg.doc.ic.ac.uk/klee21/talks/Rath-Cpp.pdf" class="hero-bun">Book</a>
        <a href="https://extension.ucsd.edu/UCSDExtension/files/38/38f88f68-fa1d-4082-9f99-458f6fd4f8a8.pdf" class="hero-bun">Book</a>
        <a href="https://www.bharathuniv.ac.in/downloads/ece/DR.KARTHIK-OOPS/OOPS%20-INTRODUCTION-DR.KARTHIK.pdf" class="hero-bun">Book</a>
        <a href="https://www.msuniv.ac.in/images/e-content/1.Object%20Oriented%20Programming%20with%20C%20and%20Java.pdf" class="hero-bun">Book</a>
        <a href="https://magadhuniversity.ac.in/download/econtent/pdf/History%20of%20C++.pdf" class="hero-bun">Book</a>
        <a href="https://dcpehvpm.org/E-Content/BCA/BCA-II/Cpp/Kent%20Cpp.pdf" class="hero-bun">Book</a>
        <a href="https://indjst.org/download-article.php?Article_Unique_Id=INDJST9203&Full_Text_Pdf_Download=True" class="hero-bun">Book</a>
        <a href="https://ee.usc.edu/~redekopp/cs103/slides/Unit4_Functions.pdf" class="hero-bun">Book</a>        
      </section>
      </body>
</html>
