
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Contact-owner</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
        <style>
            body {
              background-image: url("images/bg7.gif");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
    </head>
    <body>
      <div class="back">
        <a href="./index.html" class="hero-bin">Go Back</a>
      </div>
      <section class="text-box">
        <a href="https://en.wikipedia.org/wiki/Ministry_of_Defence_(India)" class="hero-bun">Book</a>
        <a href="https://mod.gov.in/dod/sites/default/files/DEFENCE_PROCUREMENT_ORGANISATION.pdf" class="hero-bun">Book</a>
        <a href="https://mod.gov.in/sites/default/files/accomplishments.pdf" class="hero-bun">Book</a>
        <a href="https://www.ddpmod.gov.in/sites/default/files/EDSB_2021.pdf" class="hero-bun">Book</a>
        <a href="https://dopt.gov.in/sites/default/files/SCHEDULE-5.pdf" class="hero-bun">Book</a>
        <a href="https://www.indiabudget.gov.in/doc/eb/sbe19.pdf" class="hero-bun">Book</a>
        <a href="https://www.indiabudget.gov.in/doc/eb/sbe18.pdf" class="hero-bun">Book</a>
        <a href="https://www.mha.gov.in/sites/default/files/A1968-27.pdf" class="hero-bun">Book</a>
        <a href="https://www.ugc.ac.in/pdfnews/0978607_LOCF-Defence-Studies.pdf" class="hero-bun">Book</a>
        <a href="https://socialjustice.nic.in/writereaddata/Content/socialdefence.pdf" class="hero-bun">Book</a>
        <a href="https://www.aicte-india.org/sites/default/files/Model_Curriculum/Defence/Syllabi_for_M_Tech_web.pdf" class="hero-bun">Book</a>
        <a href="https://static.pib.gov.in/WriteReadData/specificdocs/documents/2021/oct/doc202110411.pdf" class="hero-bun">Book</a>
        <a href="https://ec.europa.eu/defence-industry-space/system/files/2021-06/edf-wp2021_en.pdf" class="hero-bun">Book</a>
        <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/975077/Global_Britain_in_a_Competitive_Age-_the_Integrated_Review_of_Security__Defence__Development_and_Foreign_Policy.pdf" class="hero-bun">Book</a>
        <a href="https://cdn.s3waas.gov.in/s39bf31c7ff062936a96d3c8bd1f8f2ff3/uploads/2020/05/2020050390.pdf" class="hero-bun">Book</a>
        <a href="https://www.mod.go.jp/en/publ/w_paper/wp2021/DOJ2021_Digest_EN.pdf" class="hero-bun">Book</a>
        <a href="https://www.government.se/4af8fa/globalassets/government/dokument/forsvarsdepartementet/ip-2021-2025/summary-of-government-bill-total-defence-2021-2025-final.pdf" class="hero-bun">Book</a>
        <a href="https://www.indiacode.nic.in/bitstream/123456789/2337/1/AAA1903_____37.pdf" class="hero-bun">Book</a>
        <a href="https://niti.gov.in/planningcommission.gov.in/docs/aboutus/committee/wrkgrp12/Wg_defence_equipment.pdf" class="hero-bun">Book</a>
        <a href="https://dgfscdhg.gov.in/sites/default/files/CD-ACT.pdf" class="hero-bun">Book</a>
        <a href="https://www.nato.int/nato_static_fl2014/assets/pdf/2021/4/pdf/2104-factsheet-cyber-defence-en.pdf" class="hero-bun">Book</a>
        <a href="https://dpiit.gov.in/sites/default/files/1403158012.pdf" class="hero-bun">Book</a>
        <a href="https://defenceexim.gov.in/showfile.php?fname=attache-scheme" class="hero-bun">Book</a>
        <a href="http://www.aiimsjodhpur.edu.in/quick%20docs/CERTIFICATE%20FOR%20SERVING%20DEFENCE%20PERSONNEL.pdf" class="hero-bun">Book</a>
        <a href="https://cabsec.gov.in/files/firstschedule/abr7.pdf" class="hero-bun">Book</a>
        <a href="https://www.caluniv.ac.in/cbcs-ug/ug-files/UG-Defance.pdf" class="hero-bun">Book</a>
        <a href="https://www.orfonline.org/wp-content/uploads/2005/01/Defence.pdf" class="hero-bun">Book</a>
        <a href="https://rajyasabha.nic.in/rsnew/question/190/defence.pdf" class="hero-bun">Book</a>
        <a href="https://rajyasabha.nic.in/rsnew/question/ministry_sub/defence.pdf" class="hero-bun">Book</a>
        <a href="https://indianarmy.nic.in/WriteReadData/Documents/DEfence%20Indigenisation.pdf" class="hero-bun">Book</a>
        <a href="https://www.jstor.org/stable/40737348" class="hero-bun">Book</a>
        <a href="https://assets.kpmg/content/dam/kpmg/in/pdf/2021/03/msmes-an-untapped-force-multiplier-for-the-indian-defencesector.pdf" class="hero-bun">Book</a>
        <a href="https://maitri.mahaonline.gov.in/PDF/Defence%20Sector.pdf" class="hero-bun">Book</a>
        <a href="https://www.upsc.gov.in/sites/default/files/FR-CDS-II-20-OTA-engl-011021.pdf" class="hero-bun">Book</a>
        <a href="https://www.amity.edu/gurugram/pdf/defence-technology-brochure.pdf" class="hero-bun">Book</a>
        <a href="https://www.pwc.com/gx/en/ceo-survey/2020/trends/defence-trends-2020.pdf" class="hero-bun">Book</a>
        <a href="https://apcss.org/wp-content/uploads/2020/02/France-Defence_Strategy_in_the_Indo-Pacific_2019.pdf" class="hero-bun">Book</a>
        <a href="https://www.icicidirect.com/mailimages/IDirect_ParasDefence_IPOReview.pdf" class="hero-bun">Book</a>
        <a href="https://www.cbic.gov.in/htdocs-cbec/customs/cst1718-020218/G.E.%20131.pdf" class="hero-bun">Book</a>
        <a href="https://www.ugcnetonline.in/NTA_All_R_Syllabus/11/Defence%20and%20Strategic%20Studies_English.pdf" class="hero-bun">Book</a>
        <a href="https://www.idsa.in/system/files/jds_1_1_aprakash.pdf" class="hero-bun">Book</a>
        <a href="https://prsindia.org/files/budget/budget_parliament/2021/Defence%20DFG%20Analysis%202021-22.pdf" class="hero-bun">Book</a>
        <a href="https://www.icrc.org/en/download/file/1039/civil-defence-in-ihl.pdf" class="hero-bun">Book</a>
        <a href="https://suksn.in/Syllabus/UG/DEFENCE(BSc).pdf" class="hero-bun">Book</a>
        <a href="https://pcdapension.nic.in/pcda/trngMat/Vol_1.pdf" class="hero-bun">Book</a>
        <a href="http://www.davp.nic.in/WriteReadData/ADS/eng_10602_22_2122b.pdf" class="hero-bun">Book</a>
        <a href="https://bdl-india.in/sites/default/files/2021-08/BDL%20Signs%20MoU%20with%20UP%20EIDA%20to%20invest%20in%20UP%20Defence%20Corrider.pdf" class="hero-bun">Book</a>
        <a href="https://www.drdo.gov.in/sites/default/files/inline-files/Advanced_Torpedo_Defence_System.pdf" class="hero-bun">Book</a>
        <a href="https://ksb.gov.in/writereaddata/DownLoad/InstructionforMBBS-BDSapplicationform.pdf" class="hero-bun">Book</a>
        <a href="https://www.makeinindiadefence.gov.in/admin/writereaddata/upload/files/Complete%20document%20on%20iDEX_1.pdf" class="hero-bun">Book</a>
        <a href="https://www.ids.nic.in/pdf/history.pdf" class="hero-bun">Book</a>
        <a href="https://home.barclays/content/dam/home-barclays/documents/citizenship/our-reporting-and-policy-positions/policy-positions/Barclays-Statement-on-the-Defence-Sector.pdf" class="hero-bun">Book</a>
        <a href="http://portal.mhrdnats.gov.in/sites/default/files/file_upload/DIPAS.pdf" class="hero-bun">Book</a>
        <a href="https://av.sc.com/corp-en/content/docs/Standard-Chartered-Defence-Summary-of-Approach.pdf" class="hero-bun">Book</a>
        <a href="https://www.regjeringen.no/contentassets/09d83a5cbefd4fb68064e6ca871acccb/faf-2021-2028-engelsk-versjon-__.pdf" class="hero-bun">Book</a>
        <a href="http://ti-defence.org/wp-content/uploads/2016/03/2011-10_Defence_Budgets_Transparency.pdf" class="hero-bun">Book</a>
        <a href="https://cgda.nic.in/training/trgDPTI/dpg.pdf" class="hero-bun">Book</a>
        <a href="https://meghomeguards.gov.in/sites/default/files/mgly19-oc.pdf" class="hero-bun">Book</a>
        <a href="http://www.dssc.gov.in/files/DSSC_Rect_2021.pdf" class="hero-bun">Book</a>
        <a href="https://www.axisbank.com/docs/default-source/ebrochures/defence-salary-one-pager.pdf" class="hero-bun">Book</a>
        <a href="https://www.hsbc.com/-/files/hsbc/our-approach/risk-and-responsibility/pdfs/200218-defence-equipment-sector-policy.pdf?download=1" class="hero-bun">Book</a>
        <a href="https://www.jstor.org/stable/41393784" class="hero-bun">Book</a>
        <a href="https://hpuniv.ac.in/upload/syllabus/5fdc83cc8c44dDSSMA1stand2nd.pdf" class="hero-bun">Book</a>
        <a href="http://www.iiaonline.in/idpfc_doc/updex/Presentation-on-Defence-Corridor-in-Uttar-Pradesh.pdf" class="hero-bun">Book</a>
        <a href="https://rgd.legalaffairs.gov.tt/laws2/Alphabetical_List/lawspdfs/14.01.pdf" class="hero-bun">Book</a>
        <a href="http://www.dheodisha.gov.in/dhe/pdf/sdt.pdf" class="hero-bun">Book</a>
        <a href="https://darpg.gov.in/sites/default/files/12%20Ministry%20of%20Defence.pdf" class="hero-bun">Book</a>
        <a href="https://odishapolice.gov.in/sites/default/files/PDF/PCO-262_1.pdf" class="hero-bun">Book</a>
        <a href="https://www.bankofbaroda.in/writereaddata/Images/pdf/defence-banking-website-advt-19-11-2020.pdf" class="hero-bun">Book</a>
        <a href="https://www.gov.za/sites/default/files/gcis_document/202107/44841gon612.pdf" class="hero-bun">Book</a>
        <a href="http://www.assamrifles.gov.in/DOCS/NEWS//Updation%20A%20Br%20sbi(1).pdf" class="hero-bun">Book</a>
        <a href="http://www.pseb.ac.in/sites/default/files/syllabus/2021-22/12th/DefenceStudies-12.pdf" class="hero-bun">Book</a>
        <a href="https://www.nao.org.uk/wp-content/uploads/2020/03/Defence-capabilities-delivering-what-was-promised.pdf" class="hero-bun">Book</a>
        <a href="https://nishithdesai.com/fileadmin/user_upload/pdfs/Research_Papers/Indian-Defence-Industry-Redefining_Frontiers-web.pdf" class="hero-bun">Book</a>
        <a href="http://joinindianarmy.nic.in/writereaddata/Portal/Images/pdf/downloads/JI-OF-NDA.pdf" class="hero-bun">Book</a>
        <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/73171/defence_engagement_strategy.pdf" class="hero-bun">Book</a>
        <a href="http://di.maharashtra.gov.in/_layouts/15/doistaticsite/English/pdf/AerospaceandDefence.pdf" class="hero-bun">Book</a>
        <a href="http://eparlib.nic.in/bitstream/123456789/64646/1/15_Public_Accounts_89.pdf" class="hero-bun">Book</a>
        <a href="https://www.unom.ac.in/webportal/uploads/department/syllabus/24_ma-defence-syllabus.pdf" class="hero-bun">Book</a>
        <a href="https://moj.gov.jm/sites/default/files/laws/The%20Defence%20Act_1.pdf" class="hero-bun">Book</a>
        <a href="https://defenceinvestorcell.gov.in/dic.pdf" class="hero-bun">Book</a>
        <a href="https://www.defensa.gob.es/Galerias/defensadocs/ddn-ingles-2020.pdf" class="hero-bun">Book</a>
        <a href="http://unipune.ac.in/SOL/SYLLABUS/FYBCom/FYBCom%20115D_From%20July%202019.pdf" class="hero-bun">Book</a>
        <a href="https://www.innovationhub.defence.gov.au/defence-innovation-hub-industry-information-guide-v1" class="hero-bun">Book</a>
        <a href="https://www.brookings.edu/wp-content/uploads/2019/08/The-Indigenisation-of-India-Defence-Industy-without-cutmar-for-web.pdf" class="hero-bun">Book</a>
        <a href="https://www.nationalcrimeagency.gov.uk/who-we-are/publications/43-requesting-a-defence-under-poca-tact" class="hero-bun">Book</a>
        <a href="https://www.desw.gov.in/sites/default/files/2021.03.23-Res-I.pdf" class="hero-bun">Book</a>
        <a href="https://media.defense.gov/2020/Sep/01/2002488689/-1/-1/1/2020-DOD-CHINA-MILITARY-POWER-REPORT-FINAL.PDF" class="hero-bun">Book</a>
        <a href="https://www.phdcci.in/wp-content/uploads/2019/10/Report-Emerging-contours-in-the-defence-and-homeland-security-FOR-PRINT.pdf" class="hero-bun">Book</a>
        <a href="https://www.theiia.org/3-Lines-Defense" class="hero-bun">Book</a>
        <a href="https://www.regeringen.se/4afeb9/globalassets/regeringen/dokument/forsvarsdepartementet/forsvarsberedningen/resilience---report-summary---20171220ny.pdf" class="hero-bun">Book</a>
        <a href="https://sbi.co.in/documents/77530/400725/19032020_SBITINES_FINAL_CDBA_DBA.pdf/de944cdb-5573-e4fc-4800-cdb1692c2fbf?t=1584625682056" class="hero-bun">Book</a>
        <a href="https://ndma.gov.in/sites/default/files/PDF/Reports/ndmacivildefencepart-1.pdf" class="hero-bun">Book</a>
        <a href="https://www.nature.org/media/oceansandcoasts/mangroves-for-coastal-defence.pdf" class="hero-bun">Book</a>
        <a href="http://www.afmc.nic.in/PDFfiles/JSA%20Advt.pdf" class="hero-bun">Book</a>
        <a href="https://www.claws.in/static/India%E2%80%99s-Defence-Exports.pdf" class="hero-bun">Book</a>
        <a href="http://tte.delhigovt.nic.in/wps/wcm/connect/c64d11804ee1b424b39bbb0f51fa40e8/CIVIL-DEFENCE-WRITE-UP.pdf?MOD=AJPERES&lmod=-376438821&CACHEID=c64d11804ee1b424b39bbb0f51fa40e8" class="hero-bun">Book</a>
        <a href="https://main.sci.gov.in/supremecourt/2010/20695/20695_2010_8_1501_20635_Judgement_17-Feb-2020.pdf" class="hero-bun">Book</a>
        <a href="https://www.kemhan.go.id/wp-content/uploads/2016/05/2015-INDONESIA-DEFENCE-WHITE-PAPER-ENGLISH-VERSION.pdf" class="hero-bun">Book</a>
        <a href="http://dgpaapp.forces.gc.ca/en/canada-defence-policy/docs/canada-defence-policy-report.pdf" class="hero-bun">Book</a>
      </section>
      </body>
</html>
