
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Contact-owner</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
        <style>
            body {
              background-image: url("images/bg7.gif");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
    </head>
    <body>
      <div class="back">
        <a href="./index.html" class="hero-bin">Go Back</a>
      </div>
      <section class="text-box">
        <a href="https://oneworld-publications.com/media/preview_files/9781780745107.pdf" class="hero-bun">Book</a>
        <a href="https://media.defense.gov/2010/May/26/2001330264/-1/-1/0/AFD-100526-026.pdf" class="hero-bun">Book</a>
        <a href="https://media.defense.gov/2010/May/26/2001330287/-1/-1/0/AFD-100526-027.pdf" class="hero-bun">Book</a>
        <a href="https://history.army.mil/html/books/072/72-2/CMH_Pub_72-2.pdf" class="hero-bun">Book</a>
        <a href="https://www.jstor.org/stable/1405846" class="hero-bun">Book</a>
        <a href="https://www.utpjournals.press/doi/pdf/10.3138/cjh.35.2.349" class="hero-bun">Book</a>
        <a href="https://muse.jhu.edu/article/200069/pdf" class="hero-bun">Book</a>
        <a href="https://www.ushmm.org/m/pdfs/Iran-During-World-War-II.pdf" class="hero-bun">Book</a>
        <a href="https://digital-commons.usnwc.edu/cgi/viewcontent.cgi?article=8133&context=nwc-review" class="hero-bun">Book</a>
        <a href="https://www.open.edu/openlearn/ocw/mod/resource/view.php?id=20922" class="hero-bun">Book</a>
        <a href="https://sh.diva-portal.org/smash/get/diva2:1429162/FULLTEXT01.pdf" class="hero-bun">Book</a>
        <a href="https://www.tandfonline.com/doi/pdf/10.1080/13507486.2015.1008410" class="hero-bun">Book</a>
        <a href="https://www.eolss.net/sample-chapters/c14/E1-41-01.pdf" class="hero-bun">Book</a>
        <a href="http://www.1914-1918-online.net/res/14-18_A4_Flyer_2014_final.pdf" class="hero-bun">Book</a>
        <a href="https://encyclopedia.1914-1918-online.net/pdf/1914-1918-Online-forced_labour-2014-10-08.pdf" class="hero-bun">Book</a>
        <a href="https://digitalscholarship.unlv.edu/cgi/viewcontent.cgi?article=2391&context=thesesdissertations" class="hero-bun">Book</a>
        <a href="http://www2.hawaii.edu/~kent/Hum%20Intervention.pdf" class="hero-bun">Book</a>
        <a href="http://www.centre-robert-schuman.org/userfiles/files/REPERES%20%E2%80%93%20module%201-1-1%20-%20explanatory%20notes%20%E2%80%93%20World%20War%20I%20casualties%20%E2%80%93%20EN.pdf" class="hero-bun">Book</a>
        <a href="https://irma.nps.gov/DataStore/DownloadFile/465955" class="hero-bun">Book</a>
        <a href="http://faculty.knox.edu/fmcandre/the-sage-encyclopedia-of-war-social-science-perspectives_i4971.pdf" class="hero-bun">Book</a>
        <a href="https://www.archives.gov/files/iwg/japanese-war-crimes/introductory-essays.pdf" class="hero-bun">Book</a>
        <a href="https://www.history.com/images/media/pdf/World_Wars_Classroom_Guide_Total_FIN.pdf" class="hero-bun">Book</a>
        <a href="http://www.wvencyclopedia.org/assets/0003/0907/LessonEconomicgrowth1a.pdf" class="hero-bun">Book</a>
        <a href="http://sk.sagepub.com/cqpress/download/encyclopedia-of-us-political-history/n550.pdf" class="hero-bun">Book</a>
        <a href="https://tc2.ca/uploads/PDFs/selectingcanadasgreatestmilitary.pdf" class="hero-bun">Book</a>
        <a href="https://jmss.org/article/download/58084/43709/" class="hero-bun">Book</a>
        <a href="https://www.edu.gov.mb.ca/k12/cur/socstud/foundation_gr6/blms/6-2-4d.pdf" class="hero-bun">Book</a>
        <a href="https://www.mccd.edu/resources/library/downloads/Chicago-Turabian.pdf" class="hero-bun">Book</a>
        <a href="https://www.in.gov/library/finding-aid/S1535%20World%20War%20I%20Collection.pdf" class="hero-bun">Book</a>
        <a href="https://www.lehigh.edu/~rfw1/courses/1999/spring/ir163/Papers/pdf/jamm.pdf" class="hero-bun">Book</a>
        <a href="https://www.loc.gov/catworkshop/lcc/PDFs%20of%20slides/4-2%20handout.pdf" class="hero-bun">Book</a>
        <a href="http://npshistory.com/publications/nhl/world-war-ii-warships.pdf" class="hero-bun">Book</a>
        <a href="https://history.columbia.edu/wp-content/uploads/sites/20/2021/04/MaryMarshThesisFinal426_REDUCED.pdf" class="hero-bun">Book</a>
        <a href="https://www.oxy.edu/sites/default/files/assets/IPO/Annotated%20Bibliography%20Sample%201.pdf" class="hero-bun">Book</a>
        <a href="http://www.socialpsychology.org/pdf/encyclopedia-peace.pdf" class="hero-bun">Book</a>
        <a href="https://www.worldhistory.biz/download567/TheIllustratedEncyclopediaofCombatAircraftofWorldWarII.pdf" class="hero-bun">Book</a>
        <a href="https://www.littlerock.gov/!userfiles/editor/docs/parks/MacArthur/learn/Updated%20lesson%20plans/First%20Call%20American%20Posters%20of%20WWI%20Lesson%20Plan_MacArthur%20Museum.pdf" class="hero-bun">Book</a>
        <a href="https://projects.iq.harvard.edu/files/wcfia/files/ferguson_secondworld.pdf" class="hero-bun">Book</a>
        <a href="https://scholar.uwindsor.ca/cgi/viewcontent.cgi?article=1054&context=gljuh" class="hero-bun">Book</a>
        <a href="https://www.ugc.ac.in/pdfnews/5430486_B.A.-Hons-English.pdf" class="hero-bun">Book</a>
        <a href="https://pubs.rsna.org/doi/pdf/10.1148/74.3.492a" class="hero-bun">Book</a>
        <a href="https://nj.gov/state/historical/assets/pdf/it-happened-here/ihhnj-er-rosie.pdf" class="hero-bun">Book</a>
        <a href="https://www.fsu.edu/cvdb/KPIEHLER.pdf" class="hero-bun">Book</a>
        <a href="https://www.unodc.org/documents/e4j/18-04932_CT_Mod_01_ebook_FINALpdf.pdf" class="hero-bun">Book</a>
        <a href="http://uniport.edu.ng/world-war-ii-and-the-postwar-years-in-america-a-historical-and-cultural-encyclopedia-2-volumes-young-william-young-nancy.pdf" class="hero-bun">Book</a>
        <a href="https://www.tn.gov/content/dam/tn/environment/archaeology/documents/reportofinvestigations/arch_roi13_ww2_2007.pdf" class="hero-bun">Book</a>
        <a href="https://monoskop.org/images/d/de/An_Encyclopedia_of_Everything_2014.pdf" class="hero-bun">Book</a>
        <a href="https://www.wku.edu/library/dlps/infolit/reference_list_styles.pdf" class="hero-bun">Book</a>
        <a href="https://irtpms.in/site/wp-content/uploads/2017/09/List-of-book.pdf" class="hero-bun">Book</a>
        <a href="https://www.utoledo.edu/library/help/guides/docs/subjenc.pdf" class="hero-bun">Book</a>
        <a href="https://shora.tabriz.ir/Uploads/83/cms/user/File/657/E_Book/History/The%20Encyclopedia%20of%20World%20History.pdf" class="hero-bun">Book</a>
        <a href="https://www.nhd.org/sites/default/files/HowWorldWarIChangedTheWorld.pdf" class="hero-bun">Book</a>
        <a href="http://ijaahnet.com/journals/ijaah/Vol_5_No_2_December_2017/5.pdf" class="hero-bun">Book</a>
        <a href="https://www.lacrosselibrary.org/sites/default/files/u117/14-mr._wizard_the_b-24_0.pdf" class="hero-bun">Book</a>
        <a href="http://ftp.clippingpathindia.com/thevenue/fast-data/cloud.php?subtitle=world+war+ii+a+student+encyclopedia+5+volumes&barcode=032ddcf957c2fbc8bdccdeba9ade387f" class="hero-bun">Book</a>
        <a href="http://education.historicacanada.ca/files/52/WW2_EN_EG_Digital.pdf" class="hero-bun">Book</a>
        <a href="https://oregonencyclopedia.org/articles/sitka_spruce/pdf" class="hero-bun">Book</a>
        <a href="https://www.springer.com/br/product-marketing-tool/flyer/9781461380580?downloadType=BOOKSELLERFLYER" class="hero-bun">Book</a>
        <a href="https://digitalcommons.mtu.edu/cgi/viewcontent.cgi?article=1019&context=ww1cc-symposium" class="hero-bun">Book</a>
        <a href="http://digitalcommons.pace.edu/cgi/viewcontent.cgi?article=1282&context=pilr" class="hero-bun">Book</a>
        <a href="http://www.europarl.europa.eu/cmsdata/138922/Bolstad.pdf" class="hero-bun">Book</a>
        <a href="https://apps.dtic.mil/sti/pdfs/AD1121532.pdf" class="hero-bun">Book</a>
        <a href="https://core.ac.uk/download/pdf/45464517.pdf" class="hero-bun">Book</a>
        <a href="https://www.jmu.edu/wrtc/_files/rhettech-vol-2/behind-enemy-lines-w-banner.pdf" class="hero-bun">Book</a>
        <a href="https://www.jstage.jst.go.jp/article/seas/2/3/2_KJ00008872760/_pdf/-char/ja" class="hero-bun">Book</a>
        <a href="https://www.volkswagenag.com/presence/konzern/documents/history/englisch/Heft4_EN.pdf" class="hero-bun">Book</a>
        <a href="https://www.ebscohost.com/uploads/general/HRC_Brochure_1010.pdf" class="hero-bun">Book</a>
        <a href="https://www.va.gov/vetdata/docs/SpecialReports/Minority_Veterans_Report.pdf" class="hero-bun">Book</a>
        <a href="https://www.degruyter.com/document/doi/10.1515/9783110968545-037/pdf" class="hero-bun">Book</a>
        <a href="https://warwick.ac.uk/fac/soc/economics/staff/mharrison/public/worldwar2_2003.pdf" class="hero-bun">Book</a>
        <a href="https://library.queensu.ca/files/hist451.pdf" class="hero-bun">Book</a>
        <a href="https://www.coloradocollege.edu/basics/contact/directory/dotAsset/60b437bf-b21f-46b7-b4d8-2cc111cc858e.pdf" class="hero-bun">Book</a>
        <a href="https://pdxscholar.library.pdx.edu/cgi/viewcontent.cgi?article=4991&context=open_access_etds" class="hero-bun">Book</a>
        <a href="http://www.uop.edu.pk/ocontents/concept%20of%20peace.pdf" class="hero-bun">Book</a>
        <a href="https://www.ohchr.org/documents/publications/handbookparliamentarians.pdf" class="hero-bun">Book</a>
        <a href="https://www.goforbroke.org/learn/classroom/teachers/lesson_plans/Lesson-Courage_During_WWII.pdf" class="hero-bun">Book</a>
        <a href="https://www.h-net.org/reviews/showpdf.php?id=35521" class="hero-bun">Book</a>
        <a href="https://digitalcommons.odu.edu/cgi/viewcontent.cgi?article=1072&context=libraries_fac_pubs" class="hero-bun">Book</a>
        <a href="https://repositorio.ul.pt/bitstream/10451/48573/1/Art%20%28Portugal%29%20_%20International%20Encyclopedia%20of%20the%20First%20World%20War%20%28WW1%29.pdf" class="hero-bun">Book</a>
        <a href="http://culturaldiplomacy.org/academy/pdf/research/books/nation_branding/English_As_A_Global_Language_-_David_Crystal.pdf" class="hero-bun">Book</a>
        <a href="https://history.acadiau.ca/tl_files/sites/history/Documents/Appeasement.pdf" class="hero-bun">Book</a>
        <a href="https://scholarsarchive.jwu.edu/cgi/viewcontent.cgi?article=1011&context=ac_symposium" class="hero-bun">Book</a>
        <a href="https://www.greenwichschools.org/uploaded/faculty/jeannine_madoff/Citing_Sources_Grades_1_to_5.pdf" class="hero-bun">Book</a>
        <a href="https://fas.org/irp/doddir/army/fm100-2-1.pdf" class="hero-bun">Book</a>
        <a href="https://sahs.msad54.org/sites/default/files/CausesOfWWII.pdf" class="hero-bun">Book</a>
        <a href="https://history.idaho.gov/wp-content/uploads/Primary-and-Secondary-Sources-Quiz_fill-1.pdf" class="hero-bun">Book</a>
        <a href="https://www.goshen.edu/wp-content/uploads/sites/75/2018/04/8Book-ReviewsJan2018.pdf" class="hero-bun">Book</a>
        <a href="https://library.wlu.ca/sites/default/files/pdfs/tutorials/recognizingsourcetypes.pdf" class="hero-bun">Book</a>
        <a href="http://bellschool.anu.edu.au/sites/default/files/publications/attachments/2017-01/joan_beaumont_australia.pdf" class="hero-bun">Book</a>
        <a href="https://www.exmoor-nationalpark.gov.uk/__data/assets/pdf_file/0025/217591/Exmoor-tanks-pack-FINAL-Aug-4.pdf" class="hero-bun">Book</a>
        <a href="https://opi.mt.gov/Portals/182/Page%20Files/Indian%20Education/Language%20Arts/Code%20Talker.pdf" class="hero-bun">Book</a>
        <a href="http://web.mnstate.edu/robertsb/445/lessons%20fron%20second%20world%20war%20anthropology.pdf" class="hero-bun">Book</a>
        <a href="https://digitalcommons.wcl.american.edu/cgi/viewcontent.cgi?referer=&httpsredir=1&article=1305&context=auilr&sei-" class="hero-bun">Book</a>
        <a href="https://sos-tn-gov-files.tnsosfiles.com/forms/Lesson%20Plan_1.pdf" class="hero-bun">Book</a>
        <a href="https://crsreports.congress.gov/product/pdf/RS/RS21405/26" class="hero-bun">Book</a>
        <a href="https://eq.uen.org/emedia/items/7a0b0998-e67d-3554-93f4-ad39e678feac/1/t_000875.pdf?.vi=save" class="hero-bun">Book</a>
        <a href="https://digitalcommons.georgiasouthern.edu/cgi/viewcontent.cgi?article=1083&context=aujh" class="hero-bun">Book</a>
        <a href="https://www.washoeschools.net/site/handlers/filedownload.ashx?moduleinstanceid=25984&dataid=27292&FileName=ch32.pdf" class="hero-bun">Book</a>
        <a href="https://www.usmcu.edu/Portals/218/CAOCL/files/International%20Encycopedia%20of%20Intercultural%20Communication.pdf?ver=2019-07-11-083127-170" class="hero-bun">Book</a>
        <a href="http://andrewsforest.oregonstate.edu/pubs/pdf/pub2217.pdf" class="hero-bun">Book</a>
      </section>
      </body>
</html>
